button {
  min-width: 100px;

  .icon-left,
  .icon-right,
  .description {
    display: none;
    white-space: nowrap;
    font-weight: 300;

    &.active {
      display: block;
    }
  }

  .icon-left,
  .icon-right {
    font-size: 1rem;
    margin: 0 0.5rem;
  }

  .spinner {
    width: 16px;
    height: 16px;
    border: 2px solid rgba(139, 139, 139, 0.3);
    border-top: 2px solid #2292a4;
    border-radius: 50%;
    animation: spin 0.6s linear infinite;
    display: none;

    &.loading{
      display: block;
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
