<button 
  [ngClass]="buttonClasses" 
  [disabled]="loading || disabled" 
  [attr.aria-label]="text"
  (click)="onClick()"
  [type]="type">


  @if (icon && iconPosition === 'left') {
    <ng-container>
      <i [class]="icon" class="icon-left" [ngClass]="{'active' : !loading}"></i>
    </ng-container>
  }

  @if (text && !loading) {
     <span class="description" [ngClass]="{'active' : !loading}">{{ text }}</span>
  }

  <span class="spinner" [ngClass]="{'loading' : loading}"></span>

  @if (icon && iconPosition === 'right') {
    <ng-container>
      <i [class]="icon" class="icon-right" [ngClass]="{'active' : !loading}"></i>
    </ng-container>
  }

</button>
