<article class="product" [ngClass]="{ horizontal: horizontal, 'dark' : isDark() }" (click)="onProductClick($event)">
  <header class="product__header">
    <figure class="product__image">
      <img [src]="product.images[0]" [attr.loading]="'lazy'" [alt]="'Imagen de: ' + product.title" />
    </figure>
    <div class="product__titles">
      <h3 class="product__title">{{ product.title }}</h3>
      <!-- <div class="product__free-delivery">
        <i class="icon-truck"></i>
        <span>Gratis</span>
      </div> -->
    </div>
  </header>
  <footer class="product__footer">
    <div class="product__prices">
      <span class="product__price-discount">${{ product.price + 20 }}</span>
      <span class="product__price-current">
        ${{ product.price }} <small class="percentage-discount">53% OFF</small>
      </span>
    </div>
    <div class="product__options">
      <!-- iconos, botones, etc. -->
    </div>
  </footer>
</article>