<article class="product" (click)="onProductClick(product)">
  <main class="product__content">

    <figure class="image" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
        <img
          class="image-img"
          [src]="product.images[0]"
          [class.active]="indexImage === 0"
          alt="Imagen de: {{ product.title }}"
          loading="lazy"
        />
        <img
          class="image-img"
          [src]="product.images[1]"
          [class.active]="indexImage === 1"
          alt="Imagen de: {{ product.title }}"
          loading="lazy"
        />
     </figure>


    <div class="info">

      <h3 class="info--title">{{ product.title }}</h3>

      @if (product.id % 2 == 0) {
      <div class="info--free-delivery">
        <i class="icon icon-truck"></i>
        <span>Gratis</span>
      </div>
      }
    </div>
  </main>
  <footer class="product__footer">
    <div class="product__prices">
      <span class="product__price-discount">${{ product.price + 20 }}</span>
      <span class="product__price-current">
        ${{ product.price }} <small class="percentage-discount">53% OFF</small>
      </span>
    </div>
    <div class="product__options">
      <!-- iconos, botones, etc. -->
    </div>
  </footer>
</article>