<div class="product-detail">
  <div class="product-information">
    <div class="product-name">
      <h1>{{ product?.title }}</h1>
    </div>
  </div>
  <div class="product-images">
    <div class="main-image">
      <img
        [src]="product?.image"
        [alt]="product?.name || 'Producto sin nombre'"
      />
      <div class="product-favorites">
        <button>
          <img
            src="/assets/img/icons/svg/heart/heart-outline-medium.svg"
            alt="button-favorites"
          />
        </button>
      </div>
    </div>
    <aside class="thumbnail-images">
      <figure class="thumbnail-item" *ngFor="let image of [1, 2, 3]">
        <img
          [src]="product?.image"
          [alt]="product?.name + ' - vista adicional'"
        />
      </figure>
    </aside>
  </div>
  <div class="product-description"></div>
  <div class="product-call-actions">
    <button class="product-buy-now"><span>Comprar ahora</span></button>
    <button class="product-add-cart-shop">
      <span>Agregar al carrito</span>
      <img
        class="product-add-cart-shop-icon"
        src="/assets/img/icons/svg/shopcart/shopcart-outline-medium.svg"
        alt=""
      />
    </button>
  </div>
</div>
