<main class="container">
  <form class="form" [formGroup]="signUpForm">
    <header class="form__header">
      <!-- <i class="form__header-logo icon-holnex"></i> -->
      <h1 class="form__header-title">Completa la información de cada paso para crear tu cuenta</h1>
    </header>
    <aside class="form__federate">
      <div class="title">
        <p>Crear cuenta usando</p>
        <div class="line"></div>
      </div>
      <div class="buttons">
        <button>
          <img src="assets/img/logo/Google.png" />
        </button>
        <button>
          <img src="assets/img/logo/Facebook.png" />
        </button>
      </div>
    </aside>


    <!-- Steps to complete the form -->
    <div class="steps-indicator" #stepsIndicator>
      <div class="step first-step" [class.active]="currentStep >= 1" (click)="findStep(1)">
        <p>1</p>
      </div>
      <div class="step second-step" [class.active]="currentStep >= 2" (click)="findStep(2)">
        <p>2</p>
      </div>
      <div class="step third-step" [class.active]="currentStep >= 3" (click)="findStep(3)">
        <p>3</p>
      </div>
      <div #lineProgress class="line-progress" [ngStyle]="{ width: calculateLineWidth() + 'px' }"></div>
    </div>

    <!-- Step number one -->
    @if (currentStep === 1) {
      <div class="step1">
        <!-- Email input -->
        <div class="email-container">
          <label for="email">Correo <span title="*">*</span></label>
          <input id="email" type="email" formControlName="email" required (input)="validateStep(1)" />
          <i class="icon-email"></i>
        </div>

        <!-- 6 verification code inputs -->
        @if (authService.isEmailValid(this.signUpForm.get('email')?.value)) {
          <div class="code-container">
            <label for="code">Código de verificación <span title="*">*</span></label>

            <div class="code-inputs">
              <input id="code0" type="text" maxlength="1" formControlName="code0" name="code0" required placeholder="1"
                (input)="validateStep(1)" />
                <input id="code1" type="text" maxlength="1" formControlName="code1" name="code1" required placeholder="2"
                  (input)="validateStep(1)" />
                  <input id="code2" type="text" maxlength="1" formControlName="code2" name="code2" required placeholder="3"
                    (input)="validateStep(1)" />
                    <input id="code3" type="text" maxlength="1" formControlName="code3" name="code3" required placeholder="4"
                      (input)="validateStep(1)" />
                      <input id="code4" type="text" maxlength="1" formControlName="code4" name="code4" required placeholder="5"
                        (input)="validateStep(1)" />
                        <input id="code5" type="text" maxlength="1" formControlName="code5" name="code5" required placeholder="6"
                          (input)="validateStep(1)" />
                        </div>
                      </div>
                    }

                    <!-- Possible email errors -->
                    @if (isTouchedAndInvalidInput('email', ValidationType.TouchedAndInvalid) ) {

                      <div class="error-message">
                        @if (isTouchedAndInvalidInput('email', ValidationType.Required)) {
                          <p class="error" [ngClass]="{ show: signUpForm.get('email')?.hasError('required') }">
                            El correo es obligatorio.
                          </p>
                        }

                        @if (isTouchedAndInvalidInput('email', ValidationType.InvalidEmail)) {
                          <p class="error" [ngClass]="{show: isTouchedAndInvalidInput('email',ValidationType.InvalidEmail)}">
                            El correo no es válido.
                          </p>
                        }

                        @if (errorMessage) {
                          <p>{{ errorMessage }}</p>
                        }

                      </div>
                    }

                    <!--Success message-->
                    @if (successMessage) {
                      <p class="success" [ngClass]="{ show: successMessage }">
                        {{ successMessage }}
                      </p>
                    }

                  </div>
                  }@else if (currentStep === 2) {
                  <!-- Step number two -->
                  <div class="step2">
                    <div class="username-container">

                      <div class="name">
                        <label for="name">Nombre <span title="*">*</span></label>
                        <input id="name" type="text" formControlName="name" required (input)="validateStep(2)" />
                        <i class="fa fa-user"></i>
                      </div>

                      <div class="lastname">
                        <label for="lastname">Apellido <span>(opcional)</span></label>
                        <input id="lastname" type="text" formControlName="lastname" />
                        <i class="fa fa-user"></i>
                      </div>
                    </div>

                    @if (isTouchedAndInvalidInput('name', ValidationType.TouchedAndInvalid) ) {

                      <div class="error-message" >
                        @if (isTouchedAndInvalidInput('name', ValidationType.Required)) {
                          <p class="error" [ngClass]="{show: isTouchedAndInvalidInput('name', ValidationType.Required) }"> El nombre es obligatorio.</p>
                        }
                      </div>
                    }
                  </div>

                  }@else {
                  <div class="step3">
                    <div class="password-container">
                      <div class="password">
                        <label for="password">Contraseña <span title="*">*</span></label>
                        <input id="password" type="password" formControlName="password" required (input)="validateStep(3)" [type]="viewPassword ? 'text' : 'password'" />
                      </div>

                      <div class="confirmPassword">
                        <label for="confirmPassword">Confirmar contraseña <span title="*">*</span></label>
                        <input id="confirmPassword" type="password" formControlName="confirmPassword" required (input)="validateStep(3)" [type]="viewPassword ? 'text' : 'password'" />
                      </div>
                    </div>


                    <!-- Error for password-->
                    @if (isTouchedAndInvalidInput('password',ValidationType.TouchedAndInvalid)) {
                      <div class="error-message">
                        @if (isTouchedAndInvalidInput('password', ValidationType.Required)) {
                          <p class="error" [ngClass]="{show: isTouchedAndInvalidInput('password', ValidationType.Required) }">
                            La contraseña es obligatoria.
                          </p>
                        }
                      </div>
                    }

                    @if (isTouchedAndInvalidInput('confirmPassword', ValidationType.TouchedAndInvalid)) {
                      <div class="error-message">
                        @if (isTouchedAndInvalidInput('confirmPassword', ValidationType.Required)) {
                          <p class="error" [ngClass]="{show: isTouchedAndInvalidInput('confirmPassword', ValidationType.Required) }">
                            La contraseña de confirmación es obligatoria.
                          </p>
                        }
                      </div>
                    }


                    <!-- Button for view or not view the password -->
                    <div class="toggle-password-button" (click)="togglePassword($event)">
                      <input type="checkbox" />
                      <label>Mostrar contraseña</label>
                    </div>


                    <!--Requirements for a good password-->
                    <!-- <div class="password-validations">

                    <div class="validation-1">
                      @if (authService.hasLowerCase(signUpForm.get('password')?.value.trim())) {<i class="fa fa-check"></i>}
                      <span [ngClass]="{check: authService.hasLowerCase(signUpForm.get('password')?.value.trim())}">* Por lo menos un caracter en minúscula</span>
                    </div>

                    <div class="validation-2">
                      @if (authService.hasUpperCase(signUpForm.get('password')?.value.trim())) {<i class="fa fa-check"></i>}
                      <span [ngClass]="{check: authService.hasUpperCase(signUpForm.get('password')?.value.trim())}">* Por lo menos un caracter en mayuscula</span>
                    </div>

                    <div class="validation-3">
                      @if (authService.hasNumber(signUpForm.get('password')?.value.trim())) {<i class="fa fa-check"></i>}
                      <span [ngClass]="{check: authService.hasNumber(signUpForm.get('password')?.value.trim())}">* Por lo menos un número</span>
                    </div>

                    <div class="validation-4">
                      @if (authService.hasSpecialChar(signUpForm.get('password')?.value.trim())) {<i class="fa fa-check"></i>}
                      <span [ngClass]="{check: authService.hasSpecialChar(signUpForm.get('password')?.value.trim())}">* Por lo menos un caracter especial</span>
                    </div>

                    <div class="validation-5">
                      @if (authService.isMinLength(signUpForm.get('password')?.value.trim())) {
                        <i class="fa fa-check"></i>
                      }
                      <span [ngClass]="{check: authService.isMinLength(signUpForm.get('password')?.value.trim())}">* Por lo menos 8 caracteres</span>
                    </div>

                  </div> -->

                  <!--Success message-->
                  @if (successMessage) {
                    <p class="success" [ngClass]="{ show: successMessage }">
                      {{ successMessage }}
                    </p>
                  }
                </div>
              }




              <div class="form__submit">
                <button routerLink="">Registrar cuenta</button>
                <span class="link">Ya tienes una cuenta registrada? <a routerLink="/user/login">Inicia sesión</a></span>
              </div>
            </form>
            <figure class="ads">
              <img src="assets/img/background.jpg" alt="foto-login">
            </figure>
          </main>