<article class="product" [ngClass]="{ horizontal: horizontal, 'class-dark' : isDark }" (click)="onProductClick($event)">
  <header class="product__header">
    <div class="product-image">
      <img [src]="product.images[0]" [attr.loading]="'lazy'" [alt]="'Imagen de: ' + product.title" />
    </div>
    <div class="product-titles">
      <h3 class="product-title">{{ product.title }}</h3>
    </div>

  </header>
  <div class="product-actions">
    <span class="product-price">${{ product.price }}</span>
    <div class="product-buttons">

      <button class="product-favorites-button">
        <img class="product-favorites-icon" src="/assets/img/icons/svg/heart/heart-outline-medium.svg"
          alt="heart-icon" />
      </button>
      <button class="product-buy-now">
        <img class="product-buynow-icon" src="/assets/img/icons/svg/bag/bag-outline-medium.svg" alt="bag-icon" />
      </button>
    </div>
  </div>
</article>