@import "../../../../shared/styles/variables.scss";
@import "../../../../../styles.scss";

.product {
  width: 100%;
  min-width: 80%;
  max-width: 100%;
  height: min-content;
  min-height: 250px;
  max-height: max-content;
  border-radius: 9px;
  cursor: pointer;
  background-color: var(--color-primary-contrast);
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease;
  position: relative;
  border: 1px solid var(--color-white);

  &:not(:last-of-type) {
    margin-bottom: 30px;
  }

  &.class-dark {
    border-color: var(--color-light);

    &:hover {
      box-shadow: 1px 1px 10px var(--color-primary);
    }
  }

  .product__header {
    .product-image {
      border-radius: 10px;
      height: 35%;
      background-color: var(--color-primary-contrast);
      position: relative;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid var(--color-white);

      // .product-category {
      //   position: absolute;
      //   right: 0px;
      //   top: -15px;
      //   width: auto;
      //   min-width: 80px;
      //   height: 20px;
      //   background-color: var(--color-medium);
      //   border-radius: 4px;
      //   padding: 5px;
      //   transform: scale(0.8);
      //   text-align: center;

      //   span {
      //     font-size: 0.9rem;
      //   }
      // }

      .product-favorites {
        position: absolute;
        right: 12px;
        top: 15px;
        width: 40px;
        height: 50px;
        border-radius: 10px;

        button {
          width: 100%;
          height: 100%;
          border: none;
          outline: none;
          border-radius: inherit;
          background-color: transparent;
          cursor: pointer;

          img {
            height: 55%;
          }
        }
      }

      img {
        aspect-ratio: 1/1;
        border-radius: inherit;
        width: 90%;
        height: 40%;
        object-fit: contain;
        object-position: center;
      }
    }

    .product-titles {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      padding: 10px;
      height: auto;
      min-height: 70px;

      .product-title {
        height: 50%;
        font-size: 0.75rem;
        font-weight: 300;
        color: var(--color-font-gray);
        margin: 0;
        max-width: 340px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-word;
      }

      .product-price {
        font-size: 0.8rem;
        font-weight: 600;
        color: var(--color-primary);
      }
    }
  }

  .product-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    height: 15%;
    padding: 10px;

    button {
      @include button-styles(
        var(--color-primary),
        var(--color-primary-shade),
        100%,
        50px
      );
      font-size: 0.75rem;
      border-radius: 8px;

      span {
        white-space: nowrap;
      }

      &:first-of-type {
        background-color: var(--color-light);
        color: var(--color-font-gray);
        display: flex;
        align-items: center;
        justify-content: center;

        &.add {
          animation: addCart 1.2s ease forwards;
        }

        img {
          height: 40%;
          width: 30%;
          max-width: 30%;
        }

        &:hover {
          background-color: var(--color-medium);
        }
      }

      &:last-of-type {
        color: var(--color-white);
        background-color: var(--color-primary);
      }
    }

    .disabled {
      opacity: 0.1;
    }
  }

  .product-buy-button-wrapper {
    width: max-content;
    position: absolute;
    right: 4px;
    top: 4px;
    width: max-content;
    height: max-content;
    cursor: pointer;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 35px;
      height: 35px;
      border: none;
      outline: none;
      clip-path: circle();
      padding: 10px;
      cursor: inherit;

      img {
        width: 100%;
        max-width: 100%;
        height: auto;
      }
    }
  }

  &:hover {
    transform: scale(1.01);
    box-shadow: 1px 1px 10px var(--color-white);
  }

  &.horizontal {
    width: 95%;
    min-height: 180px;
    margin-bottom: 10px;
    margin: 0 auto;
    justify-content: center;

    .product__header {
      display: flex;
      height: 100%;
      max-height: 100%;

      .product-image {
        border-radius: 10px;
        width: 40%;
        height: 100%;
        background-color: white;
        position: relative;
        padding: 10px;

        .product-favorites {
          display: none;
        }

        img {
          aspect-ratio: 1/1;
          border-radius: inherit;
          width: 70%;
          max-width: 100%;
          height: auto;
          object-fit: contain;
          object-position: center;
        }
      }

      .product-titles {
        width: 60%;
        .product-title {
          font-size: 1rem;
        }
      }
    }

    .product-buy-button-wrapper {
      right: 15px;
      top: 15px;
    }

    .product-actions {
      flex-direction: row;
    }
  }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1023px) {
  .product {
    &.horizontal {
      width: 50%;
      min-height: 180px;
      .product__header {
        max-height: 100%;
        .product-image {
          height: 100%;
          img {
            max-width: 100%;
          }
        }
        .product-titles {
          .product-title {
            font-size: 1.3rem;
          }

          .product-price {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

/* Small laptops */
@media (min-width: 1024px) and (max-width: 1279px) {
  .product {
    .product__header {
      .product-image {
        img {
          max-width: 60%;
          height: 60%;
        }
      }

      .product-titles {
        height: 180px;
        .product-title {
          font-size: 1.3rem;
        }

        .product-price {
          font-size: 1.3rem;
        }
      }
    }

    .product-buy-button-wrapper {
      right: 20px;
      button {
        width: 55px;
        height: 55px;
      }
    }

    &.horizontal {
      width: 100%;
      max-width: 95%;
      min-height: 300px;
      margin-bottom: 10px;
      .product__header {
        display: flex;
        max-height: 100%;

        .product-image {
          border-radius: inherit;
          width: 50%;
          height: 20%;
          background-color: white;
          position: relative;
          padding: 10px;

          .product-favorites {
            display: none;
          }

          img {
            aspect-ratio: 1/1;
            border-radius: inherit;
            max-width: 50%;
            height: 40%;
            object-fit: contain;
            object-position: center;
          }
        }

        .product-titles {
          width: 50%;

          .product-title {
            font-size: 1.4rem;
            max-width: 90%;
          }

          .product-price {
            font-size: 1.3rem;
          }
        }
      }

      .product-buy-button-wrapper {
        right: 40px;
        top: 20px;

        button {
          width: 55px;
          height: 55px;
        }
      }

      .product-actions {
        flex-direction: row;
      }
    }
  }
}

/* Medium screens */
@media (min-width: 1280px) {
  .product {
    width: 90%;
    min-height: 200px;

    .product__header {
      .product-image {
        border-radius: 10px;
        width: auto;
        height: 18%;
        background-color: white;
        position: relative;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        .product-favorites {
          position: absolute;
          right: 12px;
          top: 15px;
          width: 60px;
          height: 60px;
          border-radius: 10px;

          button {
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            border-radius: inherit;
            background-color: transparent;
            cursor: pointer;

            img {
              height: 55%;
            }
          }
        }

        img {
          aspect-ratio: 1/1;
          border-radius: inherit;
          width: 50%;
          height: 50%;
          object-fit: contain;
          object-position: center;
        }
      }

      .product-titles {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        padding: 10px;
        height: auto;
        min-height: 65px;

        .product-title {
          font-size: 0.85rem;
          color: var(--color-font-gray);
          margin: 0;
          max-width: 340px;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          overflow: hidden;
          word-break: break-word;
        }

        .product-price {
          font-size: 0.8rem;
          font-weight: 600;
          color: var(--color-primary);
        }
      }
    }

    .product-actions {
      flex-direction: row;
    }
  }
}

/* Big screens */
@media (min-width: 1920px) {
  .product {
    width: 95%;
  }
}
