
@switch (status.type) {
  @case ('network') {
    <section class="network" [ngStyle]="{ 'background': status.color || '#ffcdd2' }">
      <h1 class="network__title">{{ status.title }}</h1>
      @if (status.description) {
        <p class="network__desc">{{ status.description }}</p>
      }
      @if (status.actionLabel && !status.options?.isOnline) {
        <app-button [text]="status.actionLabel" aria-label="Recargar app"
                [classCustom]="{
                    base: 'button',
                    bgColor: 'light',
                    textColor: 'danger',
                    more: [
                    'p-absolute',
                    'right-10',
                    'top-25p'
                    ]
                }" (clicked)="action.emit(status.actionType || 'retry')">
        </app-button>
      }
    </section>
  }
  <!-- Otros casos como 'empty', 'error'... -->
}
