.network {
  width: 100%;
  min-height: 6vh;
  position: sticky;
  top: 12vh;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  animation: fadeIn 1.5s ease;
  transition: animation 1s ease;
  box-sizing: border-box;
  padding-block: 5px;

  &__title {
    font-weight: 400;
    font-size: 1.3rem;
    color: var(--color-white);
  }
  
  &__desc{
    font-weight: 300;
    font-size: .8rem;
    color: var(--color-white);
  }


  &__button{
    position: absolute;
    right: 10px;
    top: 30%;
  }
}

.empty {
  width: 100%;
  padding-block: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  h2 {
    color: var(--color-danger);
    font-weight: 300;
    font-size: clamp(1rem, 1.5vw, 1.4rem);
  }
}


@keyframes fadeInTop {
    0%{
      top: 0;
    }

    100%{
      top: 12vh;
    }
}