<main class="main-content">
  <form class="main-form">
    <div class="main-inputs">
      <img
        class="logo-horizon"
        src="../../../../assets/img/horizon-black.png"
        alt="horizon"
      />
      <h4 class="subtitle">Inicia con nosotros</h4>
      <h1 class="title">Ingresa tus credenciales e inicia sesión</h1>

      <div class="networks">
        <div class="networks-buttons">
          <button>
            <img src="../../../../assets/img/logo/Google.png" />
          </button>
          <button>
            <img src="../../../../assets/img/logo/Facebook.png" />
          </button>
        </div>
        <div class="text-network">
          <p>O continúa con</p>
          <div class="line"></div>
        </div>
      </div>

      <div class="user">
        <label for="email">Correo o teléfono</label>
        <input id="email" type="text" />
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </div>

      <div class="password">
        <label for="password">Contraseña</label>
        <input id="password" type="password" />
        <i class="fa fa-lock" aria-label="Mostrar contraseña"></i>
        <a class="password-forget" routerLink="/user/forget">¿Olvidaste tu contraseña?</a>
      </div>

      <div class="button-login">
        <button>Iniciar sesión</button>
        <span class="link"
          >Aún no tienes cuenta?
          <a routerLink="/user/register">Registrate</a></span
        >
      </div>
    </div>
  </form>
</main>
