<section class="container-products" [ngClass]="{ 'full-width': isfullWidth == true }"
  [ngStyle]="{ width: width, padding: padding, margin: margin }">
  <header class="products__header">
    <div class="section-titles">
      <h2 class="title">{{ title }}</h2>
      <span class="subtitle">{{ subtitle }}</span>
      <a href="" class="subtitle-view-all">Ver todos</a>
    </div>
    <div class="tools-products">
      <!-- <div class="pagination-products" *ngIf="hasPagination">

        <button class="button-arrow-left" (click)="movePage('prevpage', currentPage)"
          [ngClass]="{ disabled: currentPage == 1 }">
          <img class="icon" src="/assets/img/icons/svg/arrow-chevron-right/arrow-chevron-right-blue.svg" alt="" />
          <span class="left-text text-arrow">Anterior</span>
        </button>

        <div class="pages">
          <button *ngFor="let page of pages; let i = index" 
                  [class.active]="currentPage === i + 1" 
                  (click)="movePage('indexpage', i + 1)">
            {{ i + 1 }}
          </button>
          
          <button *ngIf="totalPages > 3">...</button>

          <button *ngIf="totalPages > 3" [class.active]="currentPage === totalPages"
            (click)="movePage('indexpage', totalPages)">
            {{ totalPages }}
          </button>
        </div>

        <button class="button-arrow-right" (click)="movePage('nextpage',currentPage)"
          [disabled]="currentPage === totalPages">
          <span class="right-text text-arrow">Siguiente</span>
          <img class="icon" src="/assets/img/icons/svg/arrow-chevron-right/arrow-chevron-right-blue.svg" alt="" />
        </button>
      </div> -->
      <!-- <app-filters></app-filters> -->
    </div>
  </header>

  <div class="product-wrapper">
    <!--Card product-->
    <div *ngFor="let product of products" class="fade-in product-card" #productCard>
      <app-card-product [product]="product" (productClick)="detailProduct(product)"></app-card-product>
    </div>
  </div>
</section>