<div class="product">
    <button class="product__btn-delete">
        <i class="icon icon-delete"></i>
    </button>
    <div class="product__info">
        <figure class="image">
            <img [src]="product?.images[0]" [alt]="product?.title">
        </figure>

        <div class="information">
            <h2 class="name">{{product?.title | uppercase}}</h2>
            <span class="description">{{product?.description | uppercase}}</span>
            <div class="price-quantity">
                <div class="price flex flex-col">
                    <span class="price__previous">${{product?.price + 100}}</span>
                    <span class="price__amount">
                        ${{product?.price}}
                        <small class="price__amount--discount">10%</small>
                    </span>
                </div>
                <app-quantity-selector [value]="2"></app-quantity-selector>
            </div>
            <!-- <div class="shipment">
                <span class="shipment__free">
                    <i class="icon icon-truck"></i>
                    Envío gratis
                </span>
                <span class="shipment__discount">
                    Descuento 5%
                </span>
            </div> -->
        </div>
    </div>


    <!-- <footer class="product__actions">
            <button *ngFor="let button of buttons_options_product" [ngClass]="button.cssClass">
                <span *ngIf="button.title">{{button.title}}</span>
                <i *ngIf="button.icon" [ngClass]="button.icon" alt="icon"></i>
            </button>
        </footer> -->
</div>