<div class="card-product-wrapper">
    <div class="product">
        <header class="product__header">
            <figure class="product__image">
                <img [src]="product?.images[0]" [alt]="product?.title">
            </figure>

            <div class="product__information">
                <span class="product-category">{{product?.category?.name | uppercase}}</span>
                <h3 class="product-name">{{product?.title | uppercase}}</h3>
                <!-- <h4 class="product-price">{{product?.price}}0000</h4> -->
                <div class="product-shipment">
                    <span class="product-shipmentFree">Envío gratis</span>
                    <span class="product-discount">Descuento 5%</span>
                </div>

                <div class="product-quantity">
                    <div class="product-quantity__input-wrapper">
                        <button class="product-quantity__button-lower-quantity">-</button>
                        <span class="product-quantity__number">20</span>
                        <button class="product-quantity__button-upload-quantity">+</button>
                    </div>
                    <div class="product-price-wrapper">
                        <span class="product-previous-price">100.00</span>
                        <h4 class="product-price">${{product?.price}}.00</h4>
                    </div>
                </div>
            </div>
        </header>
        <div class="product__actions">
            <button *ngFor="let button of buttons_options_product" [ngClass]="button.cssClass">
                <span *ngIf="button.title">{{button.title}}</span>
                <i *ngIf="button.icon" [ngClass]="button.icon" alt="icon"></i>
            </button>
        </div>
    </div>
</div>