<div class="product" [ngClass]="{ horizontal: horizontal }" (click)="onProductClick($event)">
  <header class="product__header">
    <div class="product-image">
      <!-- <div class="product-category">
        <span>{{ product.category }}</span>
      </div> -->
      <!-- <div class="product-favorites">
        <button>
          <img
            src="../../../../assets/img/icons/svg/heart/heart-outline-medium.svg"
            alt=""
          />
        </button>
      </div> -->
      <img [src]="product?.image" [alt]="'Imagen de:' + product.title" />
    </div>
    <div class="product-titles">
      <h3 class="product-title">{{ product.title }}</h3>
      <span class="product-price">${{ product.price }}</span>
    </div>
  </header>
  <div class="product-buy-button-wrapper">
    <button>
      <img src="/assets/img/icons/svg/shopcart/shopcart-outline-medium.svg" alt="" />
    </button>
  </div>
  <!-- <div class="product-actions">
    <button class="product-add-cart-shop">
      <span>Agregar al carrito</span>
      <img
        class="product-add-cart-shop-icon"
        src="/assets/img/icons/svg/shopcart/shopcart-outline-medium.svg"
        alt=""
      />
    </button>
    <button class="product-buy-now"><span>Comprar ahora</span></button>
  </div> -->
</div>
