@import "../../styles/variables.scss";
@import "../../../../styles.scss";

/*Phones*/

.carrousel-wrapper {
  width: 100vw;
  height: auto;
  max-height: max-content;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .carrousel-header {
    width: 100%;
    max-height: max-content;
    min-height: max-content;
    margin: 20px 0 0 0;
    position: sticky;
    top: 12vh;
    z-index: 4000;
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .carrousel-titles {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      padding-left: 4px;
      padding-right: 4px;

      & > * {
        text-align: center;
      }

      .title {
        color: var(--color-primary-secondary);
        font-weight: 800;
        font-size: 1rem;
        max-width: 80%;
      }

      .subtitle {
        font-size: 0.8rem;
        color: var(--color-font-gray);
        max-width: 80%;
      }
    }

    .pagination-products {
      width: 100%;
      min-height: 10vh;
      height: 10vh;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px 0;
      padding-bottom: 0;

      button {
        cursor: pointer;
        padding: 0;
        display: flex;
        align-items: center;
        gap: 10px;
        color: var(--color-primary);
        height: 60%;
      }
      .button-arrow-left,
      .button-arrow-right {
        width: 11%;
        height: 100%;
        background-color: transparent;
        border: none;
        outline: none;
        justify-content: center;
        clip-path: circle();

        .icon {
          width: 20%;
          height: 60%;
        }

        .text-arrow {
          display: none;
        }

        &:hover {
          background-color: var(--color-light-blue-tint);
        }
      }

      .button-arrow-left .icon {
        transform: rotate(-180deg);
      }

      .pages {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;

        button {
          width: 28px;
          height: max-content;
          padding: 10px;
          background-color: transparent;
          outline: none;
          border: none;
          font-size: 1rem;
          border-radius: 4px;
          display: flex;
          align-items: center;
          justify-content: center;

          .point {
            width: 10px;
            height: 10px;
            clip-path: circle();
            background-color: var(--color-medium);

            &.active {
              color: var(--color-white);
              background-color: var(--color-primary);
            }
          }
        }
      }
    }
  }

  .carrousel {
    height: max-content;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1023px) {
  .carrousel-wrapper {
    .carrousel-header {
      .carrousel-titles {
        .title {
          font-size: 1.5rem;
        }

        .subtitle {
          font-size: 1rem;
          max-width: 60%;
        }
      }

      .pagination-products {
        width: 80%;
        min-height: 10vh;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 0;
        padding-bottom: 0;

        button {
          cursor: pointer;
          padding: 0;
          display: flex;
          align-items: center;
          gap: 10px;
          color: var(--color-primary);
          height: 60%;
        }
        .button-arrow-left,
        .button-arrow-right {
          width: 12%;
          height: 100%;
          background-color: transparent;
          border: none;
          outline: none;
          clip-path: circle();
          justify-content: center;

          .icon {
            width: 10%;
          }

          .text-arrow {
            display: none;
          }
        }

        .button-arrow-left .icon {
          transform: rotate(-180deg);
        }

        .pages {
          width: 50%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 4px;

          button {
            width: 28px;
            height: max-content;
            padding: 10px;
            background-color: transparent;
            outline: none;
            border: none;
            font-size: 1rem;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;

            .point {
              width: 10px;
              height: 10px;
              clip-path: circle();
              background-color: var(--color-medium);

              &.active {
                color: var(--color-white);
                background-color: var(--color-primary);
              }
            }
          }
        }
      }
    }

    .carrousel {
      height: max-content;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }
}

/* Small laptops */
@media (min-width: 1024px) and (max-width: 1279px) {
  .carrousel-wrapper {
    .carrousel-header {
      .carrousel-titles {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        padding-left: 4px;
        padding-right: 4px;

        & > * {
          text-align: center;
        }

        .title {
          font-size: 1.8rem;
        }

        .subtitle {
          font-size: 1.2rem;
          max-width: 60%;
        }
      }

      .pagination-products {
        width: 60%;
        min-height: 10vh;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 0;
        padding-bottom: 0;

        button {
          cursor: pointer;
          padding: 0;
          display: flex;
          align-items: center;
          gap: 10px;
          color: var(--color-primary);
          height: 60%;
        }
        .button-arrow-left,
        .button-arrow-right {
          width: 14%;
          height: 100%;
          background-color: transparent;
          border: none;
          outline: none;
          .icon {
            width: 10%;
          }

          .text-arrow {
            display: none;
          }
        }

        .button-arrow-left .icon {
          transform: rotate(-180deg);
        }

        .pages {
          width: 50%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 4px;

          button {
            width: 28px;
            height: max-content;
            padding: 10px;
            background-color: transparent;
            outline: none;
            border: none;
            font-size: 1rem;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;

            .point {
              width: 10px;
              height: 10px;
              clip-path: circle();
              background-color: var(--color-medium);

              &.active {
                color: var(--color-white);
                background-color: var(--color-primary);
              }
            }
          }
        }
      }
    }

    .carrousel {
      height: max-content;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }
}

@media (min-width: 1280px) {
  .carrousel-wrapper {
    .carrousel-header {
      .carrousel-titles {
        .title {
          width: 100%;
          font-size: 1.5rem;
        }

        .subtitle {
          font-size: 0.8rem;
          max-width: 100%;
        }
      }

      .pagination-products {
        width: 40%;
        min-height: 10vh;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 0;
        padding-bottom: 0;

        button {
          cursor: pointer;
          padding: 0;
          display: flex;
          align-items: center;
          gap: 10px;
          color: var(--color-primary);
          height: 60%;
        }
        .button-arrow-left,
        .button-arrow-right {
          width: 12%;
          padding: 12px;
        }

        .button-arrow-left .icon {
          transform: rotate(-180deg);
        }

        .pages {
          width: 50%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 4px;

          button {
            width: 28px;
            height: max-content;
            padding: 10px;
            background-color: transparent;
            outline: none;
            border: none;
            font-size: 1rem;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;

            .point {
              width: 10px;
              height: 10px;
              clip-path: circle();
              background-color: var(--color-medium);

              &.active {
                color: var(--color-white);
                background-color: var(--color-primary);
              }
            }
          }
        }
      }
    }
  }
}

/* Big screens */
@media (min-width: 1920px) {
}
