<div class="carrousel-wrapper" [ngStyle]="{ 'margin-top': margintop }">
  <header class="carrousel-header">
    <div class="carrousel-titles">
      <h2 class="title">{{ title }}</h2>
      <span class="subtitle">{{ subtitle }}</span>
    </div>
    <div class="pagination-products">
      <!--Button left pagination-->
      <button class="button-arrow-left" (click)="goToPrevious()">
        <img
          class="icon"
          src="/assets/img/icons/svg/arrow-chevron-right/arrow-chevron-right-blue.svg"
          alt=""
        />
        <span class="left-text text-arrow">Anterior</span>
      </button>

      <!--Pages pagination-->
      <div class="pages">
        <button
          *ngFor="
            let page of [].constructor(products.length)
            let i = index"
            (click)="goToPage(i)"
            >
          <div class="point" [class.active]="i === currentIndex"></div>
        </button>
      </div>

      <!--Button right pagination-->
      <button class="button-arrow-right" (click)="goToNext()">
        <span class="right-text text-arrow">Siguiente</span>
        <img
          class="icon"
          src="/assets/img/icons/svg/arrow-chevron-right/arrow-chevron-right-blue.svg"
          alt=""
        />
      </button>
    </div>
  </header>
  <app-card-product
    *ngFor="let product of products.slice(currentIndex, currentIndex + 1)"
    [horizontal]="true"
    [product]="product"
  ></app-card-product>
</div>
