@import "../../styles/variables.scss";
@import "../../../../styles.scss";

.slider-container {
  width: 100%;
  height: 45vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: end;
  align-items: start;
  padding-bottom: 30px;
  padding-left: 10px;
  cursor: pointer;

  .slider-title {
    margin-bottom: 3px;
    h1 {
      margin: 0;
      font-size: 1.5rem;
      font-weight: bold;
      color: var(--color-white);
    }
  }

  .slider-subtitle {
    span {
      font-size: 0.8rem;
      color: var(--color-medium);
    }
  }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1023px) {
  .slider-container {
    .slider-title {
      h1 {
        font-size: 2.3rem;
      }
    }

    .slider-subtitle {
      span {
        display: block;
        width: 80%;
        font-size: 1.1rem;
      }
    }
  }
}

/* Small laptops */
@media (min-width: 1024px) and (max-width: 1279px) {
  .slider-container {
    .slider-title {
      h1 {
        font-size: 3rem;
      }
    }

    .slider-subtitle {
      span {
        display: block;
        width: 80%;
        font-size: 1.3rem;
      }
    }
  }
}

/* Medium screens */
@media (min-width: 1280px) and (max-width: 1919px) {
  .slider-container {
    width: 99%;
    height: 60vh;
    background-position: center;
    background-size: contain;
    border-radius: 15px;
    margin: 10px;

    .slider-title {
      h1 {
        margin: 0;
        font-size: 3rem;
        color: var(--color-white);
      }
    }

    .slider-subtitle {
      span {
        color: var(--color-medium);
      }
    }
  }
}

/* Big screens */

@media (min-width: 1920px) {
}
