<main class="main-content">
  <form class="main-form">
    <div class="main-inputs">
      <img
        class="logo-horizon"
        src="assets/img/horizon-blue.png"
        alt="horizon"
      />
      <h4 class="subtitle">Olvidaste tu contraseña? No te preocupes.</h4>
      <h1 class="title">
        Escribe tu número de celular o correo electrónico y te enviaremos las
        instrucciones para restablecer tu contraseña
      </h1>

      <div class="user">
        <label for="email">Correo o teléfono</label>
        <input id="email" type="text" />
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </div>

      <div class="button-container">
        <button type="submit">Recuperar contraseña</button>
        <span class="link"
          >Regresar a 
          <a routerLink="/user/login">inicio de sesión</a></span
        >
      </div>
    </div>
  </form>
</main>
