<div class="steps">
  <div #stepsLine class="steps-line">
    <div class="progress-bar-background"></div>
    <div
      class="progress-bar-fill"
      [style.width.%]="(step - 1) / (steps - 1) * 100"
    ></div>

    @for (s of stepArray; track s; let i = $index) {
      <div
        class="step"
        (click)="updateStep(i)"
      [ngClass]="{
        'completed': isCompleted(i),
        'current': isCurrent(i)
      }"
        >
        <span class="step-number">{{ s }}</span>
      </div>
    }
  </div>
</div>
