<nav class="nav-bar">
  <div class="measures nav-bar__left">
    <img [routerLink]="''" class="nav-bar__logo"
      [src]="isMoodDark ? 'assets/img/horizon-white.png' : 'assets/img/horizon-blue.png'" alt="horizon" />
    <div class="nav-var__address">
      <h5 class="nav-var__address-title">Dirección</h5>
      <span class="nav-var__address-value">{{ user.address }}</span>
    </div>
  </div>

  <div class="measures nav-bar__center" [ngClass]="{'active' : viewSearchInput}">
    <app-search-input (closeWrapper)="viewSearchInput = false"></app-search-input>
  </div>

  <div class="measures nav-bar__right" [class.no-visibility]="viewSearchInput">
    <button class="nav-bar_items-search-input" [class.no-visibility]="viewSideBar"
      (click)="toggleElement($event, 'nav-bar__center')">
      <img src="/assets/img/icons/svg/search/search-outline-blue.svg" alt="searcj">
    </button>
    <button class="nav-bar_items-shop-cart" [class.no-visibility]="viewSideBar">
      <img src="/assets/img/icons/svg/shopcart/shopcart-outline-blue-light.svg" alt="shopcart">
    </button>
    <button class="nav-bar_items-button-bars" (click)="toggleElement($event, 'nav-bar__sidebar','')">
      <div class="icon-bars" [class.active]="viewSideBar">
        <span class="bars-line"></span>
        <span class="bars-line"></span>
      </div>
    </button>
  </div>

  <div class="nav-bar__sidebar">
    <div class="profile" *ngIf="isLoggued()">
      <div class="profile-avatar" (click)="toggleElement($event,'nav-bar__modal-profile')">
        <img [src]="user.image" [alt]="'Imagen de: ' + user.name" />
      </div>
      <div class="profile-information">
        <h1 class="profile-name">{{ user.name }}</h1>
        <span class="profile-email">{{ user.email }}</span>
      </div>
    </div>
    <div class="information">
      <div class="nav-bar__sidebar-items" *ngFor="let item of navItems" [routerLink]="[item.path]">
        <!--
          Address
          Shop cart
          My purchases
          Notifications
          Messages
          My record
          Favorites products
        -->
        <img class="icon-vector" [src]="item.icon" alt="" />
        <div class="item-value">
          <h5 class="item-value__title">{{ item.title }}</h5>
          <span class="item-value__subtitle" *ngIf="item.subtitle">{{
            user.address
            }}</span>
          <span *ngIf="item.pending == true" class="number-pending">5</span>
          <!-- <div
            *ngIf="item.toggle"
            class="toggle-mode"
            (click)="toggleMoodDark($event)"
          >
            <div class="toggle-container">
              <label class="switch">
                <input
                  type="checkbox"
                  id="themeToggle"
                  [checked]="isMoodDark"
                />
                <span class="slider"></span>
              </label>
            </div>
          </div> -->
        </div>
        <div class="pending-point" *ngIf="item.pending == true"></div>
      </div>
    </div>
    <div class="configurations">
      <div class="nav-bar__sidebar-items" *ngFor="let item of configItems">
        <!--
          My businness
          Settings
          Help
          Log out
        -->
        <img class="icon-vector" [src]="item.icon" [alt]="item.title" />
        <div class="item-value">
          <h5 class="item-value__title">{{ item.title }}</h5>
          <span class="item-value__subtitle" *ngIf="item.subtitle">{{
            item.subtitle
            }}</span>
          <span *ngIf="item.pending == true" class="number-pending">5</span>
          <!-- <div
            *ngIf="item.toggle"
            class="toggle-mode"
            (click)="toggleMoodDark($event)"
          >
            <div class="toggle-container">
              <label class="switch">
                <input
                  type="checkbox"
                  id="themeToggle"
                  [checked]="isMoodDark"
                />
                <span class="slider"></span>
              </label>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <div class="buttons" *ngIf="!isLoggued()">
      <button [routerLink]="'/user/login'">Iniciar sesión</button>
      <button [routerLink]="'/user/register'">Registrarte</button>
    </div>
  </div>

  <div class="nav-bar__modal-profile">
    <div class="profile">
      <div class="profile-avatar">
        <img [src]="user.image" [alt]="'Imagen de: ' + user.name" />
      </div>
      <div class="profile-information">
        <h1 class="profile-information-name">{{user.name}}</h1>
        <span class="profile-information-email">{{user.email}}</span>
      </div>
    </div>
    <div class="nav-bar__sidebar-items" *ngFor="let item of profileItems" [routerLink]="[item.path]">
      <!--
        Record
        Favorites products
        My businness
        Settings
        Help
        Log out
      -->
      <img class="icon-vector" [src]="item.icon" [alt]="item.title" />
      <div class="item-value">
        <h5 class="item-value__title">{{ item.title }}</h5>
        <span class="item-value__subtitle" *ngIf="item.subtitle">{{
          item.subtitle
          }}</span>
        <span *ngIf="item.pending == true" class="number-pending">5</span>
      </div>
      <div class="pending-point" *ngIf="item.pending == true"></div>
    </div>
  </div>
</nav>