<nav class="nav-bar">

  <!-- Logo-->
  <div class=" nav-bar__left">
    <!-- <img routerLink="''" src="assets/img/credora-blue.png" class="nav-bar__logo " alt="logo"> -->
     <h1>Holu</h1>
  </div>


  <!-- Input search component -->
  <div class=" nav-bar__center" [ngClass]="{'active' : viewSearchInput}">
    <app-search-input (closeWrapper)="viewSearchInput = false"></app-search-input>
  </div>


  <!-- Elements only visibility in mobile screen -->
  <div class=" nav-bar__right" [class.no-visibility]="viewSearchInput">

    <!-- Button search -->
    <button class="nav-bar__items-search-input" [class.no-visibility]="viewSideBar"
      (click)="toggleElement($event, 'nav-bar__center')">
      <i class="icon-search"></i>
    </button>

    <!-- Button shopcart -->
    <button class="nav-bar__items-shop-cart" [class.no-visibility]="viewSideBar" [routerLink]="['/shopcart']">
      <i class="icon-shop-cart"></i>
    </button>

    <!-- Button burguer -->
    <button class="nav-bar__items-button-bars" (click)="toggleElement($event, 'nav-bar__sidebar','')">
      <div class="icon-bars" [class.active]="viewSideBar">
        <span class="bars-line"></span>
        <span class="bars-line"></span>
      </div>
    </button>
  </div>


  <!-- Side bar -->
  <div class="nav-bar__sidebar">

    <!-- Profile user -->
    <div class="nav-bar__profile" *ngIf="isLoggued()">
      <div class="nav-bar__profile-avatar" (click)="toggleElement($event,'nav-bar__modal-profile')">
        <img [src]="user.image" [alt]="'Imagen de: ' + user.name" />
      </div>
      <div class="nav-bar__profile-information">
        <h1 class="nav-bar__profile-name">{{ user.name }}</h1>
        <span class="nav-bar__profile-email">{{ user.email }}</span>
      </div>
    </div>

    <!-- Information user -->
    <div class="nav-bar__information">
      <div class="nav-bar__item" *ngFor="let item of navItems" (click)="redirectItemNavBar(item.path)">
        <!--
          Address
          Shop cart
          My purchases
          Notifications
          Messages
          My record
          Favorites products
        -->
        <i class="nav-bar__item-icon" [ngClass]="item.icon"></i>
        <div class="nav-bar__item-value">
          <h5 class="nav-bar__item-title">{{ item.title }}</h5>
          <span class="nav-bar__item-subtitle" *ngIf="item.subtitle">{{user.address}}</span>
          <span *ngIf="item.pending == true" class="nav-bar__item-number-pending">5</span>

        </div>
      </div>
    </div>

    <!--Configuration user -->
    <div class="nav-bar__configurations">
      <div class="nav-bar__item" *ngFor="let item of configItems" (click)="redirectItemNavBar(item.path)">
        <!--
          My businness
          Settings
          Help
          Log out
        -->
        <i class="nav-bar__item-icon" [ngClass]="item.icon"></i>
        <div class="nav-bar__item-value">
          <h5 class="nav-bar__item-title">{{ item.title }}</h5>
          <span class="nav-bar__item-subtitle" *ngIf="item.subtitle">{{item.subtitle}}</span>
          <!-- <div
            *ngIf="item.toggle"
            class="toggle-mode"
            (click)="toggleMoodDark($event)"
          >
            <div class="toggle-container">
              <label class="switch">
                <input
                  type="checkbox"
                  id="themeToggle"
                  [checked]="isMoodDark"
                />
                <span class="slider"></span>
              </label>
            </div>
          </div> -->
        </div>
      </div>
    </div>

    <div class="nav-bar__buttons" *ngIf="!isLoggued()">
      <button [routerLink]="'/user/login'">Iniciar sesión</button>
      <button [routerLink]="'/user/register'">Registrarte</button>
    </div>
  </div>

  <!-- Modal only in desktop screen -->
  <div class="nav-bar__modal-profile">
    <div class="nav-bar__modal-profile-user">
      <div class="nav-bar__modal-profile-avatar">
        <img [src]="user.image" [alt]="'Imagen de: ' + user.name" />
      </div>
      <div class="nav-bar__modal-profile-info">
        <h1 class="nav-bar__modal-profile-name">{{ user.name }}</h1>
        <span class="nav-bar__modal-profile-email">{{ user.email }}</span>
      </div>
    </div>

    <div class="nav-bar__modal-profile-item" *ngFor="let item of profileItems" [routerLink]="[item.path]">
      <i class="nav-bar__modal-profile-item-icon" [ngClass]="item.icon"></i>
      <div class="nav-bar__modal-profile-item-value">
        <h5 class="nav-bar__modal-profile-item-title">{{ item.title }}</h5>
        <span class="nav-bar__modal-profile-item-subtitle" *ngIf="item.subtitle">
          {{ item.subtitle }}
        </span>
        <span *ngIf="item.pending == true" class="nav-bar__modal-profile-item-pending-number">5</span>
      </div>
      <div class="nav-bar__modal-profile-item-pending-dot" *ngIf="item.pending == true"></div>
    </div>
  </div>



</nav>