@import "../../styles/variables.scss";
@import "../../../../styles.scss";

.nav-bar {
  min-height: 12vh;
  height: auto;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  position: sticky;
  top: 0;
  background-color: var(--color-primary-contrast);
  z-index: 1000000;
  transition: all 1s ease;

  .measures {
    height: 100%;
    width: 50%;
  }

  // Container for logo horizon
  .nav-bar__left {
    display: flex;

    .nav-bar__logo {
      width: 50%;
      height: auto;
      object-fit: contain;
      transform: scale(0.4);
      // filter: drop-shadow(5px 5px 10px var(--color-light-shade));
    }

    .nav-var__address {
      display: none;
    }
  }

  .nav-bar__center {
    display: none;
    transition: all 0.5s ease;

    &.active {
      display: block;
      position: absolute;
      z-index: 200000;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

  // Container for burguer's button
  .nav-bar__right {
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: end;

    .nav-bar_items-button-bars,
    .nav-bar_items-search-input,
    .nav-bar_items-shop-cart {
      background-color: transparent;
      border: none;
      outline: none;
      height: 50px;
      width: 40px;
      padding: 0;
      margin-right: 10px;
      transform: scale(0.6);
      transition: position 1s ease;
    }

    .nav-bar_items-button-bars {
      .icon-bars {
        width: 100%;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .bars-line {
          width: 100%;
          height: 6px;
          border-radius: 10px;
          background-color: var(--color-primary);
          position: absolute;
          transition: transform 0.2s ease;
          right: 0;

          &:nth-child(1) {
            transform: translateY(-8px);
          }

          &:nth-child(2) {
            width: 70%;
            transform: translateY(8px);
          }
        }

        &.active {
          .bars-line {
            width: 100%;
            &:nth-child(1) {
              transform: rotate(45deg);
            }

            &:nth-child(2) {
              transform: rotate(-45deg);
            }
          }
        }
      }

      &.active {
        position: absolute;
        right: 0px;
        top: 0px;
      }
    }

    .nav-bar_items-search-input {
      img {
        max-width: 90%;
      }
    }
  }

  // Side bar
  .nav-bar__sidebar {
    display: none;
    z-index: 1;
    width: 80%;
    height: 100%;
    overflow-y: auto;
    transform: translateX(100%);

    position: fixed;
    right: 0;
    top: 0;

    background-color: var(--color-primary-contrast);
    animation: sideBarAnimation 1s ease;
    transition: transform 1s ease;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 0 15px;

    .profile,
    .information,
    .bottom,
    .configurations {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: space-around;
      width: 100%;
      border-bottom: 2px solid var(--color-white);
    }

    .profile {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      height: 10%;

      [class*="profile-"] {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .profile-avatar {
        width: 12%;
        margin-right: 10px;
        min-width: 70px;
        height: 80%;
        img {
          max-width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          border-radius: 50%;
          aspect-ratio: 1/1;
          clip-path: circle();
        }
      }

      .profile-information {
        width: 92%;
        align-items: start;
        flex-direction: column;

        .profile-name,
        .profile-email {
          display: flex;
          justify-content: start;
        }

        .profile-name {
          margin: 0;
          font-size: 1.1rem;
          font-weight: 800;
          color: var(--color-primary);
        }

        .profile-email {
          font-size: 0.75rem;
          color: var(--color-dark-gray);
        }
      }
    }

    .information {
      height: 45%;
    }

    .configurations {
      height: 25%;
      padding-bottom: 15px;
      border-bottom: none;

      .nav-bar__sidebar-items:last-of-type {
        .item-value {
          .item-value__title {
            color: var(--color-danger);
          }
        }
      }
    }

    .buttons {
      height: 10%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      gap: 5px;
      border-bottom: none;

      button {
        @include button-styles(
          var(--color-primary),
          // Bg-color
          var(--color-primary-shade),
          // Hover-color
          100%,
          // Width
          60px // Height
        );
        border-radius: 10px;
      }

      button:last-of-type {
        background-color: transparent;
        color: var(--color-primary-secondary);
      }
    }

    .nav-bar__sidebar-items {
      width: 100%;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 10px;
      //   border-bottom: 1px solid var(--color-gray);
      padding-bottom: 5px;
      position: relative;

      .icon-vector {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 7%;
        max-width: 20px;
        height: auto;
        min-height: 20px;
        max-height: 20px;
        font-size: 1.5rem;
        fill: var(--color-medium);
        color: var(--color-medium);
        background-color: var(--color-white);
        padding: 8px;
        border-radius: 10px;
        user-select: none;
      }

      .item-value {
        width: 85%;
        max-width: 85%;

        [class*="item-value"] {
          user-select: none;
        }

        .item-value__title {
          margin: 0;
          color: var(--color-dark-gray);
          font-weight: 500;
        }

        .item-value__subtitle {
          font-size: 0.8rem;
          color: var(--color-primary);
          font-weight: 400;
          overflow: hidden;
          max-width: 100px;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .toggle-mode {
          border-radius: 50%;
          width: max-content;
          margin-top: 4px;
          height: auto;
          h5 {
            margin: 0;
            margin-bottom: 3px;
          }

          .toggle-container {
            display: flex;
            align-items: center;
            gap: 10px;
            // width: max-content;

            .switch {
              position: relative;
              display: inline-block;
              width: 50px;
              height: 24px;

              &input {
                display: none;
              }
            }

            .slider {
              position: absolute;
              cursor: pointer;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background-color: #ccc;
              transition: 0.4s;
              border-radius: 24px;

              &:before {
                position: absolute;
                content: "";
                height: 18px;
                width: 18px;
                left: 3px;
                bottom: 3px;
                background-color: white;
                transition: 0.4s;
                border-radius: 50%;
              }
            }

            input:checked + .slider {
              background-color: #2196f3;
            }

            input:checked + .slider:before {
              transform: translateX(26px);
            }
          }
        }
      }

      .number-pending {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-50%, -50%);
        height: 15px;
        background-color: var(--color-red-light);
        padding: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        color: var(--color-danger);
        pointer-events: none;
      }

      // .item-icon {
      //   width: 15%;
      //   max-width: 15%;

      // }

      .location-info,
      .toggle-mode {
        height: 100%;
        display: flex;
        flex-direction: column;
      }

      // .pending-alert
    }

    &.visibility {
      display: flex;
      transform: translateX(0);
    }
  }

  .nav-bar__modal-profile {
    display: none;
  }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1023px) {
  .nav-bar {
    .nav-bar__sidebar {
      .profile {
        .profile-avatar {
          width: 10%;
          min-width: 12%;
        }

        .profile-information {
          width: 85%;
          .profile-name,
          .profile-email {
            display: flex;
            justify-content: start;
          }

          .profile-name {
            font-size: 1.5rem;
          }

          .profile-email {
            font-size: 1rem;
          }
        }
      }
      .nav-bar__sidebar-items {
        .item-value {
          .item-value__title {
            font-size: 1.05rem;
          }
        }
      }
    }

    .nav-bar__right {
      .nav-bar_items-button-bars,
      .nav-bar_items-search-input,
      .nav-bar_items-shop-cart {
        width: 50px;
      }
    }

    .nav-bar__left {
      .nav-bar__logo {
        width: 30%;
        transform: scale(0.4);
      }
    }

    .buttons {
      button {
        font-size: 0.9rem;
      }
    }

    .nav-bar__modal-profile {
      display: none;
    }
  }
}

/* Small laptops */
@media (min-width: 1024px) and (max-width: 1279px) {
  .nav-bar {
    .nav-bar__sidebar {
      .profile {
        .profile-avatar {
          width: 10%;
          min-width: 140px;
        }
        .profile-information {
          width: 85%;

          .profile-name {
            font-size: 1.8rem;
          }

          .profile-email {
            font-size: 1.2rem;
          }
        }
      }
      .nav-bar__sidebar-items {
        .item-value {
          .item-value__title {
            font-size: 1.4rem;
          }

          .item-value__subtitle {
            font-size: 1.2rem;
          }
        }
      }
      .buttons {
        button {
          font-size: 1.1rem;
        }
      }
    }

    .nav-bar__right {
      .nav-bar_items-button-bars,
      .nav-bar_items-search-input,
      .nav-bar_items-shop-cart {
        width: 60px;
      }
    }

    .nav-bar__left {
      .nav-bar__logo {
        width: 30%;
        transform: scale(0.4);
      }
    }

    .nav-bar__modal-profile {
      display: none;
    }
  }
}

/* Medium screens */
@media (min-width: 1280px) and (max-width: 1919px) {
  .nav-bar {
    width: 100%;
    // margin: 0 auto;
    justify-content: center;
    height: 10vh;
    // border-radius: 20px;

    .nav-bar__left {
      width: 25%;

      .nav-bar__logo {
        width: auto;
        transform: scale(0.5);
      }

      .nav-var__address {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .nav-var__address-title {
          margin: 0;
          font-size: 0.9rem;
          color: var(--color-primary-secondary);
        }

        .nav-var__address-value {
          font-size: 0.6rem;
          color: var(--color-dark-gray);
        }
      }
    }

    .nav-bar__center {
      width: 49%;
      display: block;
      transition: all 0.5s ease;
    }

    .nav-bar__right {
      display: none;
    }

    .nav-bar__sidebar {
      transform: translateX(0);
      position: static;
      width: 20%;
      height: 100%;
      background-color: transparent;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: end;
      gap: 15px;
      animation: none;
      transition: none;

      .bottom,
      .configurations {
        display: none;
      }

      .information {
        height: 100%;
        border: none;
        flex-direction: row;
        align-items: center;

        .nav-bar__sidebar-items {
          height: 40px;
          justify-content: center;

          .pending-point {
            position: absolute;
            right: 30%;
            top: 22%;
            background-color: var(--color-danger);
            width: 4px;
            height: 4px;
            border-radius: 50%;
          }

          .icon-vector {
            width: 100%;
            transition: 1s ease;
            cursor: pointer;
            background-color: transparent;

            &:hover {
              transform: scale(1.1);
            }
          }
          .item-value {
            display: none;
          }

          // Delete address, Record and favorites
          &:first-of-type,
          &:nth-of-type(6),
          &:last-of-type {
            display: none;
          }
        }
      }

      .profile {
        order: 1;
        width: max-content;
        flex-direction: row;
        align-items: center;
        height: 80%;
        cursor: pointer;
        border: none;

        .profile-avatar {
          width: 12%;
          min-width: 40px;
          height: 80%;

          img {
            max-width: 100%;
            height: 70%;
            object-fit: cover;
            object-position: center;
            border-radius: 50%;
            aspect-ratio: 1/1;
            clip-path: circle();
          }
        }

        .profile-information {
          display: none;
        }
      }

      .buttons {
        display: none;
        height: 100%;
        width: 50%;
        flex-direction: row;
        align-items: center;
        margin: 0;

        button {
          font-size: 0.8rem;
          @include button-styles(
            var(--color-primary),
            var(--color-primary-shade),
            65%,
            40px
          );
          border-radius: 5px;
        }

        button:last-of-type {
          background-color: transparent;
          color: var(--color-primary-secondary);
        }
      }
    }

    .nav-bar__modal-profile {
      display: none;
      position: absolute;
      right: 20px;
      top: 100%;
      width: 30%;
      min-height: auto;
      height: max-content;
      border-radius: 10px;
      background-color: var(--color-white);
      transition: 1s ease;
      animation: fadeIn 0.2s ease;
      flex-direction: column;
      align-items: start;


      .profile {
        width: 100%;
        height: 30%;
        display: flex;
        align-items: center;
        cursor: pointer;
        margin: 15px;

        .profile-avatar {
          width: 16%;
          height: 80%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 10px;

          img {
            max-width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 50%;
            aspect-ratio: 1/1;
            clip-path: circle();
          }
        }

        .profile-information {
          width: calc(100% - 25%);
          height: 80%;
          display: flex;
          flex-direction: column;
          align-items: start;
          justify-content: center;
          gap: 4px;

          .profile-information-name {
            margin: 0;
            font-size: 1rem;
            color: var(--color-primary);
          }

          .profile-information-email {
            font-size: 0.8rem;
            color: var(--color-dark-gray);
          }
        }
      }

      .nav-bar__sidebar-items {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 10px;
        position: relative;
        cursor: pointer;
        padding: 5px 0;
        transition: 0.5s ease;

        .icon-vector {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 7%;
          max-width: 20px;
          height: auto;
          min-height: 20px;
          max-height: 20px;
          font-size: 1.5rem;
          fill: var(--color-medium);
          color: var(--color-medium);
          background-color: var(--color-border-gray);
          padding: 8px;
          border-radius: 10px;
          margin-left: 10px;
        }

        .item-value {
          width: 85%;
          max-width: 85%;

          .item-value__title {
            margin: 0;
            font-size: .9rem;
            color: var(--color-dark-gray);
            font-weight: 500;
          }

          .item-value__subtitle {
            font-size: 0.8rem;
            color: var(--color-primary);
            font-weight: 400;
            overflow-x: hidden;
            max-width: 30%;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .toggle-mode {
            border-radius: 50%;
            width: max-content;
            margin-top: 4px;
            height: auto;
            h5 {
              margin: 0;
              margin-bottom: 3px;
            }

            .toggle-container {
              display: flex;
              align-items: center;
              gap: 10px;
              // width: max-content;

              .switch {
                position: relative;
                display: inline-block;
                width: 50px;
                height: 24px;

                &input {
                  display: none;
                }
              }

              .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #ccc;
                transition: 0.4s;
                border-radius: 24px;

                &:before {
                  position: absolute;
                  content: "";
                  height: 18px;
                  width: 18px;
                  left: 3px;
                  bottom: 3px;
                  background-color: white;
                  transition: 0.4s;
                  border-radius: 50%;
                }
              }

              input:checked + .slider {
                background-color: #2196f3;
              }

              input:checked + .slider:before {
                transform: translateX(26px);
              }
            }
          }
        }

        .number-pending {
          position: absolute;
          top: 50%;
          right: 0;
          transform: translate(-50%, -50%);
          height: 15px;
          background-color: var(--color-red-light);
          padding: 4px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 4px;
          color: var(--color-danger);
          pointer-events: none;
        }

        &:hover {
          background-color: var(--color-medium);
        }

        &:last-of-type {
          .item-value {
            .item-value__title {
              color: var(--color-danger);
            }
          }
        }
      }

      // .triangle {
      //   position: absolute;
      //   right: 20px;
      //   top: -11.5px;
      //   width: 12px;
      //   height: 10px;
      //   background-color: var(--color-white);
      //   border: 1px solid var(--color-border-gray);
      //   border-bottom: 1px solid var(--color-white);
      //   border-radius: 0;
      //   clip-path: polygon(50% 0%, 0% 100%, 100% 100%);

      // }

      &.active {
        display: flex;
      }
    }
  }
}

/* Big screens */
@media (min-width: 1920px) {
  .nav-bar {
    justify-content: space-between;
    height: 10vh;

    .nav-bar__left {
      width: 25%;

      .nav-bar__logo {
        width: auto;
        transform: scale(0.5);
      }

      .nav-var__address {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .nav-var__address-title {
          margin: 0;
          font-size: 0.9rem;
        }

        .nav-var__address-value {
          font-size: 0.7rem;
          color: var(--color-dark-gray);
        }
      }
    }

    .nav-bar__right {
      display: none;
    }

    .nav-bar__center{
      border: 1px solid red;
    }

    .nav-bar__sidebar {
      position: initial;
      width: 25%;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: end;
      gap: 15px;
      animation: sideBarAnimation .1s ease forwards;
      transition: none;

      .bottom,
      .configurations {
        display: none;
      }

      .information {
        height: 100%;
        border: none;
        flex-direction: row;
        align-items: center;

        .nav-bar__sidebar-items {
          height: 40px;
          justify-content: center;

          .item-value {
            display: none;
          }

          .pending-point {
            position: absolute;
            right: 30%;
            top: 22%;
            background-color: var(--color-danger);
            width: 4px;
            height: 4px;
            border-radius: 50%;
          }

          .icon-vector {
            width: 100%;
            transition: 1s ease;
            cursor: pointer;
            background-color: transparent;

            &:hover {
              transform: scale(1.1);
            }
          }
          .item-value {
            display: none;
          }

          &:first-of-type {
            display: none;
          }
        }
      }

      .profile {
        order: 1;
        width: max-content;
        flex-direction: row;
        align-items: center;
        height: 80%;
        cursor: pointer;
        border: none;

        .profile-avatar {
          width: 12%;
          min-width: 40px;
          height: 80%;

          img {
            max-width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
            border-radius: 50%;
            aspect-ratio: 1/1;
            clip-path: circle();
          }
        }

        .profile-information {
          display: none;
        }
      }

      .buttons {
        display: none;
        height: 100%;
        width: 50%;
        flex-direction: row;
        align-items: center;
        margin: 0;

        button {
          font-size: 0.8rem;
          @include button-styles(
            var(--color-primary),
            var(--color-primary-shade),
            65%,
            40px
          );
          border-radius: 5px;
        }

        button:last-of-type {
          background-color: transparent;
          color: var(--color-primary-secondary);
        }
      }
    }

  }
}

@keyframes sideBarAnimation {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
