<main class="main-content">
  <form class="main-form">
    <div class="main-inputs">
      <img
        class="logo-horizon"
        src="assets/img/horizon-blue.png"
        alt="horizon"
      />
      <h4 class="subtitle">Cuentas guardadas</h4>
      <h1 class="title">Seleccione una cuenta</h1>

      <div class="accounts">
        <div class="account">
          <div class="account-avatar">
            <img
              src="https://plus.unsplash.com/premium_photo-1689977968861-9c91dbb16049?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Zm90byUyMGRlJTIwcGVyZmlsfGVufDB8fDB8fHww"
              alt=""
            />
          </div>
          <div class="account-description">
            <h2 class="account-description-name">Mauricio Molina</h2>
            <span class="account-description-email">molinamau37gmail.com</span>
          </div>
        </div>
        <div class="account">
          <div class="account-avatar">
            <img
              src="https://www.clarin.com/img/2024/07/04/uteodLeuh_600x600__1.jpg"
              alt=""
            />
          </div>
          <div class="account-description">
            <h2 class="account-description-name">Mauricio Molina</h2>
            <span class="account-description-email">molinamau37gmail.com</span>
          </div>
        </div>
        <div class="account">
          <div class="account-avatar">
            <img
              src="https://plus.unsplash.com/premium_photo-1689977968861-9c91dbb16049?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Zm90byUyMGRlJTIwcGVyZmlsfGVufDB8fDB8fHww"
              alt=""
            />
          </div>
          <div class="account-description">
            <h2 class="account-description-name">Mauricio Molina</h2>
            <span class="account-description-email">molinamau37gmail.com</span>
          </div>
        </div>
        <div class="account">
          <div class="account-avatar">
            <img
              src="https://plus.unsplash.com/premium_photo-1689977968861-9c91dbb16049?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Zm90byUyMGRlJTIwcGVyZmlsfGVufDB8fDB8fHww"
              alt=""
            />
          </div>
          <div class="account-description">
            <h2 class="account-description-name">Mauricio Molina</h2>
            <span class="account-description-email">molinamau37gmail.com</span>
          </div>
        </div>
      </div>

      <div class="button-other-account">
        <div class="account-container" [routerLink]="'/user/login'">
          <a class="link"> Ingresa con otra cuenta</a>
          <i class="fa fa-arrow-right"></i>
        </div>
      </div>
    </div>
  </form>
</main>
