<main class="main-content">
  <form class="main-form">
    <div class="main-inputs">
      <img
        class="logo-horizon"
        src="../../../../assets/img/horizon-black.png"
        alt="horizon"
      />
      <h4 class="subtitle">Empecemos</h4>
      <h1 class="title">Completa la información para crear tu cuenta</h1>
      <div class="networks">
        <div class="networks-buttons">
          <button>
            <img src="../../../../assets/img/logo/Google.png" />
          </button>
          <button>
            <img src="../../../../assets/img/logo/Facebook.png" />
          </button>
        </div>
        <div class="text-network">
          <p>Registrate también con</p>
          <div class="line"></div>
        </div>
      </div>
      <div class="steps">
        <div class="step first-step active">
          <p>1</p>
        </div>
        <div class="step second-step">
          <p>2</p>
        </div>
        <div class="step third-step">
          <p>3</p>
        </div>
        <div class="step fourth-step">
          <p>4</p>
        </div>
      </div>

      <span class="info-step"
        >El primer paso será ingresar tu primer nombre y tu primer
        apellido</span
      >

      <div class="username-container">
        <div class="name">
          <label for="name">Nombre</label>
          <input id="name" type="text" />
          <i class="fa fa-user" aria-hidden="true"></i>
        </div>
        <div class="lastname">
          <label for="lastname">Apellido</label>
          <input id="lastname" type="text" />
          <i class="fa fa-user" aria-hidden="true"></i>
        </div>
      </div>
      <!-- <div class="email-container">
          <div class="email">
            <label for="email">Correo o teléfono</label>
            <input id="email" type="text" />
            <i class="fa fa-envelope" aria-hidden="true"></i>

          </div>
        </div>
        <div class="password-container">
          <div class="password">
            <label for="pw">Contraseña</label>
            <input id="pw" type="password" />
            <i class="fa fa-lock" aria-hidden="true"></i>
          </div>
          <div class="password">
            <label for="pw">Confirmar contraseña</label>
            <input id="pw" type="password" />
            <i class="fa fa-lock" aria-hidden="true"></i>
          </div>
        </div> -->

      <div class="button-container">
        <button>Crear cuenta</button>
        <span class="link"
          >Ya tienes cuenta? <a routerLink="/user/login">Inicia sesión</a></span
        >
      </div>
    </div>
  </form>
</main>
