<main class="main-content">
  <form class="main-form" [formGroup]="signUpForm">
    <div class="main-inputs">

      <img class="logo-horizon" src="../../../../assets/img/horizon-black.png" alt="horizon"/>
      <h4 class="subtitle">Empecemos</h4>
      <h1 class="title">Completa la información para crear tu cuenta</h1>
      
      <div class="networks">
        <div class="networks-buttons">
          <button>
            <img src="../../../../assets/img/logo/Google.png" />
          </button>
          <button>
            <img src="../../../../assets/img/logo/Facebook.png" />
          </button>
        </div>
        <div class="text-network">
          <p>Registrate también con</p>
          <div class="line"></div>
        </div>
      </div>
      

      <!--Steps to complete the form-->
      <div class="steps">
        <div class="step first-step" [class.active]="currentStep >= 1" (click)="findStep(1)">
          <p>1</p>
        </div>
        <div class="step second-step" [class.active]="currentStep >= 2" (click)="findStep(2)">
          <p>2</p>
        </div>
        <div class="step third-step" [class.active]="currentStep >= 3" (click)="findStep(3)">
          <p>3</p>
        </div>
        <div class="step fourth-step" [class.active]="currentStep >= 4" (click)="findStep(4)">
          <p>4</p>
        </div>
        <div class="line-progress" [ngStyle]="{'width': calculateLineWidth() + 'px'}"></div>
      </div>
      
      


      <!--Step number one-->
      <div class="step1" *ngIf="currentStep === 1">
        <span class="info-step" >El primer paso será ingresar tu nombre y apellido</span>
        <div class="username-container">
          
          <div class="name">
            <label for="name">Nombre <span title="*">*</span></label>
            <input
              id="name"
              type="text"
              formControlName="name"
              required
              (input)="validateField()"
            />
            <div *ngIf=" signUpForm.get('name')?.touched && signUpForm.get('name')?.invalid">
              <p *ngIf="signUpForm.get('name')?.hasError('required')"> El nombre es obligatorio.</p>
            </div>
          </div>

          <div class="lastname">
            <label for="lastname">Apellido <span>(opcional)</span></label>
            <input id="lastname" type="text" formControlName="lastname" />
          </div>
        </div>


        <!--Success message-->
        <p *ngIf="successMessage" class="success" [ngClass]="{ show: successMessage }"> {{ successMessage }}</p>
      </div>


      <!--Step number two-->
      <div class="step2" *ngIf="currentStep === 2">
        <span class="info-step">Ingrese su correo y código de verificación</span>
        
        <!-- Email input -->
        <div class="email-container">
          <label for="email">Correo <span title="*">*</span></label>
          <input id="email" type="email" formControlName="email" required (input)="validateField()"/>
          <i class="fa fa-envelope"></i>
        </div>

        <!-- 6 verification code inputs -->
        <div class="code-container">
          <label for="code">Código de verificación <span title="*">*</span></label>
          <div class="code-inputs">
            <input
              type="text"
              maxlength="1"
              formControlName="code0"
              name="code0"
              required
              (input)="validateField()"
            />
            <input
              type="text"
              maxlength="1"
              formControlName="code1"
              name="code1"
              required
              (input)="validateField()"
            />
            <input
              type="text"
              maxlength="1"
              formControlName="code2"
              name="code2"
              required
              (input)="validateField()"
            />
            <input
              type="text"
              maxlength="1"
              formControlName="code3"
              name="code3"
              required
              (input)="validateField()"
            />
            <input
              type="text"
              maxlength="1"
              formControlName="code4"
              name="code4"
              required
              (input)="validateField()"
            />
            <input
              type="text"
              maxlength="1"
              formControlName="code5"
              name="code5"
              required
              (input)="validateField()"
            />
          </div>
        </div>
        
        
        
        
        <!-- Possible email errors -->
        <div *ngIf="signUpForm.get('email')?.touched && signUpForm.get('email')?.invalid">
          <p *ngIf="signUpForm.get('email')?.hasError('required')" class="error" [ngClass]="{ show: signUpForm.get('email')?.hasError('required') }">El correo es obligatorio.</p>
          <p *ngIf="signUpForm.get('email')?.hasError('email')" class="error" [ngClass]="{ show: signUpForm.get('email')?.hasError('email') }">El correo no es válido.</p>
          <p *ngIf="errorMessage">{{errorMessage}}</p>
        </div>

        <!-- Success message -->
        <p *ngIf="successMessage" class="success" [ngClass]="{ show: successMessage }"> {{ successMessage }}</p>
      </div>

      <div class="step1" *ngIf="currentStep === 3">
        <span class="info-step" >El tercer paso será ingresar tu contraseña</span>
        <div class="password-container">
          
          <div class="password">
            <label for="password">Contraseña <span title="*">*</span></label>
            <input
              id="password"
              type="password"
              formControlName="password"
              required
              (input)="validateField()"
            />
            <div *ngIf=" signUpForm.get('password')?.touched && signUpForm.get('name')?.invalid">
              <p *ngIf="signUpForm.get('password')?.hasError('required')">La contraseña es obligatoria.</p>
            </div>
          </div>

          <div class="confirmPassword">
            <label for="confirmPassword">Confirmar contraseña <span title="*">*</span></label>
            <input
              id="confirmPassword"
              type="password"
              formControlName="confirmPassword"
              required
              (input)="validateField()"
            />
            <div *ngIf=" signUpForm.get('confirmPassword')?.touched && signUpForm.get('name')?.invalid">
              <p *ngIf="signUpForm.get('confirmPassword')?.hasError('required')">La contraseña de confirmación es obligatoria.</p>
            </div>
          </div>
        </div>


        <!--Success message-->
        <p *ngIf="successMessage" class="success" [ngClass]="{ show: successMessage }"> {{ successMessage }}</p>
      </div>

      <!-- <div class="email-container">
          <div class="email">
            <label for="email">Correo o teléfono</label>
            <input id="email" type="text" />
            <i class="fa fa-envelope" aria-hidden="true"></i>

          </div>
        </div>
        <div class="password-container">
          <div class="password">
            <label for="pw">Contraseña</label>
            <input id="pw" type="password" />
            <i class="fa fa-lock" aria-hidden="true"></i>
          </div>
          <div class="password">
            <label for="pw">Confirmar contraseña</label>
            <input id="pw" type="password" />
            <i class="fa fa-lock" aria-hidden="true"></i>
          </div>
        </div> -->

      <div class="button-container">
        <button>Crear cuenta</button>
        <span class="link"
          >Ya tienes cuenta? <a routerLink="/user/login">Inicia sesión</a></span
        >
      </div>
    </div>
  </form>
</main>
