<div class="categories">
  <header class="categories-header">
    <h4 class="categories-header__title">Categoría de productos</h4>
    <a class="categories-header__subtitle">Ver todas</a>
  </header>
  <ng-container *ngIf="!loading(); else skeleton">
    <ul class="categories-list">
      <li *ngFor="let category of categories().slice(0,5); let i = index">
        <div class="categories-list__image">
          <figure class="categories-list__image-figure">
            <img [src]="category?.image" [alt]="category?.name">
          </figure>
        </div>
        <div class="categories-list__description">
          <a class="categories-list__name" [routerLink]="['/category', category?.slug]">
            {{ category?.name }}
          </a>
        </div>
      </li>
    </ul>
  </ng-container>

  <ng-template #skeleton>
    <ul class="categories-list">
      <li *ngFor="let _ of [].constructor(10)">
        <ngx-skeleton-loader class="categories__item skeleton_item" count="1" appearance="line">
        </ngx-skeleton-loader>
      </li>
    </ul>
  </ng-template>

</div>