<div class="categories">
  <header class="categories__header">
    <h4 class="categories__title title-section">Categoría de productos</h4>
    <app-button [text]="'Ver todas las categorías'" [customClass]="['button', 'view-all']"></app-button>
    <!-- <a class="categories__link" [routerLink]="['/categorias']">Ver todas las categorías</a> -->
  </header>

  <ng-container *ngIf="!loading(); else skeleton">
    <ul class="categories__list">
      <li class="categories__item" *ngFor="let category of categories().slice(0, 5)">
        <div class="categories__image">
          <figure class="categories__figure">
            <img [src]="category?.image" [alt]="category?.name">
          </figure>
        </div>
        <div class="categories__info">
          <a class="categories__name" [routerLink]="['/category', category?.slug]">
            {{ category?.name }}
          </a>
        </div>
      </li>
    </ul>
  </ng-container>

  <ng-template #skeleton>
    <ul class="categories__list">
      <li *ngFor="let _ of [].constructor(10)">
        <ngx-skeleton-loader class="categories__item skeleton_item" count="1" appearance="line"></ngx-skeleton-loader>
      </li>
    </ul>
  </ng-template>
</div>