@import "breakpoints";
@import "variables";
@import "../../../../styles.scss";

.input-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;

  .input-search {
    position: absolute;
    left: 0;
    right: 2px;
    width: auto;
    height: 65%;
    border: none;
    outline: none;
    border-radius: 10px;
    margin: 0 10px;
    padding-left: 55px;
    background-color: var(--color-white);
    font-size: 1.1rem;
    color: var(--color-dark-gray);

    &::placeholder {
      font-size: 1rem;
      font-weight: 200;
    }
  }

  .input-icon {
    max-width: 20%;
    height: 20%;
    z-index: 1000;
    margin-left: 25px;
    font-size: 1.2rem;
    color: var(--color-gray);
  }

  .input-icon-xmark {
    width: 10%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 15px;

    .line-xmark {
      width: 2px;
      border-radius: 10px;
      height: 20px;
      background-color: var(--color-primary);
      position: absolute;
      transition: transform 0.2s ease;

      &:nth-of-type(1) {
        transform: rotate(45deg);
      }

      &:nth-of-type(2) {
        transform: rotate(-45deg);
      }
    }
  }

  .input-recent-searches {
    display: none;
    position: absolute;
    left: 10px;
    right: 2px;
    top: 80%;
    width: calc(100% - 54px);
    min-height: 30vh;
    height: auto;
    background-color: var(--color-white);
    padding: 15px;
    flex-direction: column;
    align-items: start;

    .input-recent-searches-title {
      font-size: 0.9rem;
      color: var(--color-dark-gray);
      font-weight: 400;
    }

    .input-recent-searches-list {
      list-style: none;
      width: 100%;
      height: auto;
      min-height: 100%;
      max-height: 350px;
      overflow-y: auto;
      overflow-x: hidden;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: space-around;

      .input-recent-searches-list-item {
        cursor: pointer;
        width: 100%;
        height: auto;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 10px;
        padding-left: 0;

        .icon-history {
          color: var(--color-dark-gray);
          font-size: 1.2rem;
        }

        .item__text-search {
          font-size: 0.8rem;
          color: var(--color-dark-gray);
        }
      }
    }
  }

  @include respond-to("small-screen") {
    .input-search {
      right: 4px;
      box-sizing: border-box;

      &::placeholder {
        font-size: 0.85rem;
      }
    }
  }

  @include respond-to("tablet") {
    .input-recent-searches {
      width: calc(100% - 52px);
    }
  }

  @include respond-to("desktop") {
    .input-search {
      &::placeholder {
        font-size: 0.8rem;
        font-weight: 500;
      }
    }
    .input-icon-xmark {
      display: none;
    }

    .input-recent-searches {
      width: calc(100% - 54px);
      .input-recent-searches-list {
        .input-recent-searches-list-item {
          .icon-history {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}
