@import "../../../../shared/styles/auth.scss";
@import "../../../../shared/styles/inputs.scss";
@import "breakpoints";
@import "variables";
@import "../../../../../styles.scss";

/* Phones */
.main-content {
  @include layoutAuth();

  .subtitle,
  .title {
    margin: 0;
    max-width: 90%;
  }

  .title {
    font-size: 1.09rem;
    margin-bottom: 30px;
  }

  .subtitle {
    font-weight: 200;
    font-size: 0.9rem;
    color: var(--color-gray);
  }

  .user {
    @include input-container;

    label {
      color: black;
      position: absolute;
      top: -14px;
      left: 0;
      font-size: 0.8rem;
      color: var(--color-dark-gray);
      font-weight: 500;
    }

    input {
      @include input-auth(var(--color-gray), var(--color-dark-gray), 100%);
    }

    i {
      position: absolute;
      right: 0.5rem;
      top: 50%;
      transform: translateY(-50%);
      color: var(--color-dark-gray);

      &[class*="fa-lock"] {
        right: 0.8rem;
      }
    }
  }

  .button-reset {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    align-items: end;
    flex-direction: column;
    gap: 10px;

    button {
      @include button-styles(
        var(--color-primary),
        var(--color-primary-shade),
        55%,
        50px
      );
    }

    .link {
      font-size: 0.8rem;
      color: var(--color-gray);
      a {
        color: var(--color-primary);
        font-weight: 600;
        text-decoration: none;
      }
    }
  }

  @include respond-to("tablet") {
    display: flex;
    align-items: center;
    justify-content: center;
    .main-form {
      border-radius: 10px;
      margin: 0 auto;
      max-width: 75%;
      height: auto;

      .main-inputs {
        .button-reset {
          button {
            @include button-styles(
              var(--color-primary),
              var(--color-primary-shade),
              50%,
              50px
            );
          }
        }
      }
    }
  }

  @include respond-to("laptop") {
    display: flex;
    align-items: center;
    justify-content: center;
    .main-form {
      margin: 0 auto;
      max-width: 60%;
      height: auto;

      .main-inputs {
        .button-reset {
          button {
            @include button-styles(
              var(--color-primary),
              var(--color-primary-shade),
              50%,
              50px
            );
          }
        }
      }
    }
  }

  @include respond-to("desktop") {
    display: flex;
    align-items: center;
    justify-content: center;
    .main-form {
      margin: 0 auto;
      max-width: 40%;
      height: auto;

      .main-inputs {
        .button-reset {
          button {
            @include button-styles(
              var(--color-primary),
              var(--color-primary-shade),
              50%,
              50px
            );
          }
        }
      }
    }
  }

  @include respond-to("big-screen") {
    display: flex;
    align-items: center;
    justify-content: center;
    .main-form {
      margin: 0 auto;
      max-width: 30%;
      height: auto;

      .main-inputs {
        .button-reset {
          button {
            @include button-styles(
              var(--color-primary),
              var(--color-primary-shade),
              50%,
              50px
            );
          }
        }
      }
    }
  }
}
