<main class="summary-card">

    <header class="summary-card__header">
        <h1>Resumen de compra</h1>
    </header>

    @if (summary.numberOfProducts > 0) {

    @for (item of cartSummaryItems; track $index) {
    <section class="summary-card__quantity section-card">
        <h3 class="section-card--title">
            <i class="icon" [ngClass]="item.icon"></i>
            {{ item.label }}
        </h3>
        <span class="section-card--value" [class.green]="item.label == 'Envío' && item.value == 'Gratis'">{{ item.value
            }}</span>
    </section>
    @if ($index == 3) {
    <hr class="divider" [ngStyle]="{'height' : '.5px'}">
    }
    }

    <app-button icon="icon-shop-cart" iconPosition="right" [text]="'Continuar con compra'"
        aria-label="Ejecutar compra carrito de compras" variant="solid" [classCustom]="{
            base: 'button',
            bgColor: 'primary',
            textColor: 'white',
            more: ['rounded-lg','p-4','w-full']}">
    </app-button>
    }@else {
    <span class="text-sm">Aquí verás los importes de tu compra una vez que agregues productos.</span>
    }




    <!-- 
    <section class="summary-card__payments section-card">
        <h3 class="section-card--title">Conoce nuestros métodos de pago</h3>
        @for (payment of paymentMethods; track $index) {
        <article class="summary-card__payments-item">
            <h4 class="summary-card__payments-item__label">{{payment.label}}</h4>
            <div class="flex">
                @for (type of payment.values; track $index) {
                    <div class="summary-card__payments-item__content">
                        <img [src]="type.image" [alt]="type.name" class="payment-image" />
                        <span class="payment-name">{{ type.name }}</span>
                    </div>
                }
            </div>
        </article>
        }
    </section> -->

</main>