@import "../../styles/variables.scss";
@import "../../../../styles.scss";

.alert-container {
  width: 100%;
  margin-bottom: 0;
  height: 8vh;
  background-color: var(--color-primary);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;

  span {
    line-height: 22px;
    font-size: 0.7rem;
    color: var(--color-white);
    text-align: center;

    a {
      border-radius: 4px;
      margin-left: 4px;
      padding: 3px;
      color: var(--color-white);
    }
  }

  .button-close {
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--color-white);
    font-size: .8rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
  }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1023px) {
  .alert-container {
    justify-content: center;

    span {
      font-size: 1rem;
    }
  }
}

/* Small laptops */
@media (min-width: 1024px) and (max-width: 1279px) {
  .alert-container {
    justify-content: center;
    span {
      font-size: 1.3rem;
    }
  }
}

/* Medium screens */
@media (min-width: 1280px) {
  .alert-container {
    width: 99%;
    margin: 10px;
    justify-content: center;
    border-radius: 10px;
    position: relative;

    &.class-dark {
      margin: 0;
      height: 10vh;
      width: 100%;
      border: 1px solid var(--color-font-gray);
    }

    img {
      max-width: 100%;
      height: auto;
      transform: scale(0.2);
    }

    .button-close{
      position: absolute;
      right: 10px;
    }
  }
}

/* Big screens */
@media (min-width: 1920px) {
}
