@import "../../../../shared/styles/skeleton.scss";
@import "breakpoints";
@import "variables";

/*Phones*/
.slider-products {
  width: 100%;
  height: auto;
  min-height: 30vh;
  box-sizing: border-box;
  position: relative;
  padding: 40px 10px;

  &__header {
    width: 100%;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__header--flash-sale {
    width: 100%;
    min-height: 60px;
    background-color: var(--color-orange);
    border-radius: 10px;
    margin-block: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    box-sizing: border-box;
    position: relative;

    &--view-all-button {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: transparent;
      border: none;
      outline: none;
      color: var(--color-white);
      cursor: pointer;
    }

    &--title {
      color: var(--color-white);

      i::before {
        color: white;
      }
    }

    &--time {
      background-color: var(--color-warning);
      color: var(--color-white);
      padding: 4px;
      border-radius: var(--border-radius);
      font-size: 1.5rem;
      text-transform: uppercase;
    }
  }

  &__content {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    gap: 2px;
    white-space: nowrap;
    padding-block: 20px;

    &::-webkit-scrollbar {
      display: none;
    }

    .product {
      width: calc((100% - 40px) / 2);
      min-width: calc((100% - 40px) / 2);
      height: min-content;
      scroll-snap-align: start;
      min-height: 250px;
      border-radius: 9px;
      display: flex;
      flex-direction: column;
      padding: 10px;
      gap: 10px;
    }
  }

  .arrow {
    background-color: var(--color-medium);
    outline: none;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: var(--border-radius);
    position: absolute;
    top: calc(100% - 55%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &__button-arrow-left {
    left: 10px;
  }

  &__button-arrow-right {
    right: 10px;
  }

  button {
    &.disabled {
      opacity: 0.4;
      background-color: var(--color-font-gray);
      cursor: not-allowed;
    }
  }

  @include respond-to("tablet") {
    &__content {
      .product {
        height: min-content;
        min-height: 250px;
      }
    }
  }

  @include respond-to("laptop") {
    &__content {
      &::-webkit-scrollbar {
        display: block;
      }

      .product {
        width: calc((100% - 65px) / 3);
        min-width: calc((100% - 65px) / 3);
      }
    }

    .arrow {
      width: 60px;
      height: 60px;
      top: calc(100% - 60%);
    }
  }

  @include respond-to("desktop") {
    min-height: 10vh;

    &__content {
      gap: 0;

      &::-webkit-scrollbar {
        display: block;
      }

      .product {
        width: calc(100% / 4.25);
        min-width: calc(100% / 4.25);
      }
    }

    .arrow {
      width: 45px;
      height: 45px;
    }
  }
}
