<section class="products" [ngStyle]="{'padding': padding, 'margin': margin }" [ngClass]="{'full-width': isfullWidth}">

  <header class="products__header" *ngIf="hasHeader">
    <div class="products__header-content">
      <div class="products__header-content-title">
        <h2 class="products__title title-section">{{title}}</h2>
        <span class="products__subtitle">{{subtitle}}</span>
      </div>
      <app-button *ngIf="labelButton" [text]="labelButton" [loading]="isloading" [disabled]="isloading"
        aria-label="Ver todos los productos" [customClass]="['button', 'view-all']">
      </app-button>
    </div>
  </header>


  <div class="products__grid">
    <!--Card product-->
    <ng-container *ngIf="!loading">
      <div *ngFor="let product of products.slice(0,8)" class="products__grid-item">
        <app-product-card [product]="product" (productClick)="productsService.detailProduct(product)">
        </app-product-card>
      </div>
    </ng-container>
    <ng-container *ngIf="loading || isEmptyList">
      <div *ngFor="let _ of [].constructor(8)" class="products__grid-item">
        <app-skeleton [typeskeleton]="'product-card'">
        </app-skeleton>
      </div>
    </ng-container>
  </div>


  
  <div class="products__pagination">
    <!-- <app-button (clicked)="addMore()" [text]="'Ver más'" [loading]="loading || !isOnline()"
      [disabled]="loading || !isOnline()" [customClass]="['button','view-more']">
    </app-button> -->
    <div class="products__pagination-pages">
      <button class="button-left disabled" aria-label="Página anterior">
        <i class="icon-arrow-chevron-left"></i>
      </button>
      <div class="pages-buttons">
        <button class="page-button" *ngFor="let page of [].constructor(4); let i = index"
          [ngClass]="{'active': i == 0}">
          {{i+1}}
        </button>
        <button class="page-button">
          ...
        </button>
        <button class="page-button">
          10
        </button>
      </div>
      <button class="button-right" aria-label="Página siguiente">
        <i class="icon-arrow-chevron-right"></i>
      </button>
    </div>
  </div>


</section>