@import "../../../../shared/styles/skeleton.scss";
@import "../../../../../styles.scss";
@import "breakpoints";
@import "variables";

.products {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
  box-sizing: border-box;
  padding: 40px 10px;

  &__header {
    width: 100%;
    z-index: 10;
    box-sizing: border-box;
    &-content {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-title {
        .products__subtitle {
          color: var(--color-font-gray);
        }
      }
    }

    &-filter {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: end;
      padding-bottom: 20px;
    }
  }

  &__grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-template-rows: max-content;
    gap: 10px;
    justify-items: center;

    &-item {
      width: 100%;
      opacity: 0;
      transform: translateY(10px);
      animation: fadeIn 0.4s ease forwards;
    }
  }

  &__pagination {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    box-sizing: border-box;

    &-button-infiniteScroll {
      @include button-styles(
        var(--color-primary),
        var(--color-primary-to-white),
        100px,
        40px
      );
      font-size: 0.8rem;
      font-weight: 500;
      padding: 8px;
      border-radius: var(--border-radius);
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }

    &-pages {
      width: 100%;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;

      .button-left,
      .button-right {
        @include button-styles(transparent, transparent, 30px, 30px);
        font-size: 0.8rem;
        font-weight: 500;
        padding: 25px;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        color: var(--color-dark);
        box-sizing: border-box;

        &.disabled {
          cursor: not-allowed;
          color: var(--color-medium);
        }
      }

      .pages-buttons {
        width: 60%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;

        button {
          @include button-styles(transparent, transparent, 15px, 15px);
          font-size: 1rem;
          font-weight: 500;
          padding: 20px;
          border-radius: var(--border-radius);
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          display: flex;
          align-items: center;
          justify-content: center;
          color: var(--color-dark-gray);
          border-radius: 50%;

          &.active {
            background-color: var(--color-primary);
            color: var(--color-white);
          }
        }
      }
    }
  }

  @include respond-to("small-screen") {
    &__grid {
      grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    }
  }

  @include respond-to("tablet") {
    // width: 80%;
    &__grid {
      gap: 20px;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
  }

  @include respond-to("laptop") {
    &__grid {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
  }

  @include respond-to("desktop") {
    max-height: max-content;

    &__header {
      &-content {
        &-title {
          .products__title {
            max-width: 100%;
          }
        }
      }
    }

    &__grid {
      grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
      grid-template-rows: max-content;
      grid-auto-rows: max-content;
    }

    &__pagination {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      &-button-infiniteScroll {
        @include button-styles(
          var(--color-primary),
          var(--color-primary-to-white),
          100px,
          40px
        );
        font-size: 0.8rem;
        font-weight: 500;
        padding: 8px;
        border-radius: var(--border-radius);
        cursor: pointer;
        transition: all 0.3s ease-in-out;
      }

      &-pages {
        width: 40%;
      }
    }
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
