<section class="products" [ngStyle]="{'padding': padding, 'margin': margin }" [ngClass]="{'full-width': isfullWidth}">

  <header class="products__header" *ngIf="hasHeader">
    <div class="products__header-content">
      <div class="products__header-content-title">
        <h2 class="products__title title-section">{{title}}</h2>
        <span class="products__subtitle">{{subtitle}}</span>
      </div>
      <app-button *ngIf="labelButton" [text]="labelButton" aria-label="Ver todos los productos" [customClass]="[
        'button',
        'button--transparent',
        'button--secondary',
        'button--medium',
      ]">
      </app-button>
    </div>
  </header>


  <article class="products__grid" *ngIf="showProducts">
    <div *ngFor="let product of visibleProducts" class="products__grid-item">
      <app-product-card [product]="product" (productClick)="productsService.detailProduct(product)">
      </app-product-card>
    </div>
  </article>

  <article class="products__grid--skeleton" *ngIf="showSkeleton">
    <app-skeleton [typeskeleton]="SkeletonTypeEnum.productsGrid"></app-skeleton>
  </article>

  <article class="products__emptyList" *ngIf="showError">
    <app-status-ui-message [status]="{type: 'error', title: error}"></app-status-ui-message>
  </article>



  <article class="products__pagination" *ngIf="!loading && !isEmptyList">
    <div class="products__pagination-pages">

      <button class="button-left disabled" aria-label="Página anterior">
        <i class="icon-arrow-chevron-left"></i>
      </button>

      <div class="pages-buttons">
        <button class="page-button" *ngFor="let page of [].constructor(4); let i = index"
          [ngClass]="{'active': i == 0}">
          {{i+1}}
        </button>
        <button class="page-button">
          ...
        </button>
        <button class="page-button">
          10
        </button>
      </div>

      <button class="button-right" aria-label="Página siguiente">
        <i class="icon-arrow-chevron-right"></i>
      </button>
    </div>
  </article>


</section>