<nav class="nav-bar">

  <!-- Logo-->
  <div class=" nav-bar__left">
    <i class="icon-holnex nav-bar__logo" [routerLink]="['']"></i>
    <div class="nav-bar__left--title">HOLNEX</div>
    <!-- <div class="nav-bar__address-user">
      <h4 class="nav-bar__adress-text">{{ isLoggued() ? 'Dirección' : 'No tienes dirección?' }}</h4>
      <span class="nav-bar__adress-value">{{ isLoggued() ? user.address : 'Agregala aquí' }}</span>
    </div> -->
  </div>


  <!-- Input search component -->
  <div class=" nav-bar__center" [ngClass]="{'active' : viewSearchInput}">
    <app-search-input (closeWrapper)="viewSearchInput = false"></app-search-input>
  </div>


  <!-- Elements only visibility in mobile screen -->
  <div class=" nav-bar__right" [class.no-visibility]="viewSearchInput">

    <!-- Button burguer -->
    <button aria-label="Abrir menú lateral" class="nav-bar__items-button-bars"
      (click)="toggleElement($event, 'nav-bar__sidebar','')">
      <div class="icon-bars" [class.active]="viewSideBar">
        <span class="bars-line"></span>
        <span class="bars-line"></span>
      </div>
    </button>
  </div>


  <div class="nav-bar__sidebar">

    <button class="close-button" (click)="toggleElement($event, 'nav-bar__sidebar','')">X</button>

    <ul class="nav-bar__sidebar-list user-list">
      <li class="nav-bar__sidebar-list-item" *ngFor="let item of userItems" (click)="item?.action($event)"
        (mouseenter)="seeTooltipItem(item.title || '')" (mouseleave)="seeTooltipItemLeave()">

        <div class="nav-bar__sidebar-list-item-user" *ngIf="item.profile"
          [ngClass]="{'not-logged' : !isLoggued(), 'logged' : isLoggued()}">
          <div class="nav-bar__sidebar-list-item-user-content">
            <figure class="user-avatar" (click)="isLoggued() && toggleElement($event, 'nav-bar__modal-profile')">
              <img [src]="item?.profile?.avatar" [alt]="item?.profile?.name || ''" />
            </figure>
            <div class="user-info">
              <h5 class="user-name">{{ item?.profile?.name }}</h5>
              <span class="user-email">{{ item?.profile?.email}}</span>
            </div>
          </div>
          <div class="nav-bar__sidebar-list-item-user-actions">
            <button class="button-login" *ngIf="!isLoggued()" [routerLink]="'/user/login'">Iniciar sesión</button>
            <button class="button-edit" *ngIf="isLoggued()">Editar perfil</button>
          </div>
        </div>


        <!-- Only items -->
        <ng-container *ngIf="!item.profile">
          <i class="nav-bar__sidebar-list-item-icon" [ngClass]="item.icon"></i>
          <div class="nav-bar__sidebar-list-item-value">
            <h5 class="item-title">{{ item.title }}</h5>
            <span class="item-subtitle" *ngIf="item.subtitle">{{ item.subtitle }}</span>
          </div>
          <div class="nav-bar__sidebar-list-item-tooltip" *ngIf="nameItemHover === item.title">
            {{ nameItemHover }}
          </div>
        </ng-container>
      </li>
    </ul>

    <div class="toggle-container desktop-toogle-theme">
      <label class="switch">
        <input type="checkbox" (change)="toggleMoodDark($event)" [checked]="isDark()" />
        <span class="slider"></span>
      </label>
    </div>
    <ul class="nav-bar__sidebar-list settings-list">
      <div class="nav-bar__sidebar-list-item">
        <i class="nav-bar__sidebar-list-item-icon theme" [ngClass]="isDark() ? 'icon-sun' : 'icon-moon'"></i>
        <div class="nav-bar__sidebar-list-item-value">
          <h5 class="item-title">{{isDark() ? 'Modo claro' : 'Modo oscuro' }}</h5>
        </div>
        <div class="toggle-container">
          <label class="switch">
            <input type="checkbox" (change)="toggleMoodDark($event)" [checked]="isDark()" />
            <span class="slider"></span>
          </label>
        </div>
      </div>
      <li class="nav-bar__sidebar-list-item" *ngFor="let item of configItems">
        <i class="nav-bar__sidebar-list-item-icon" [ngClass]="item.icon"></i>
        <div class="nav-bar__sidebar-list-item-value">
          <h5 class="item-title">{{ item.title }}</h5>
          <span class="item-subtitle" *ngIf="item.subtitle">{{ item.subtitle }}</span>
        </div>
      </li>
    </ul>

  </div>


  <!-- Side bar -->


  <!-- Modal only in desktop screen -->
  <div class="nav-bar__modal-profile">
    <div class="nav-bar__modal-profile-user">
      <div class="nav-bar__modal-profile-avatar">
        <img [src]="user.image" [alt]="'Imagen de: ' + user.name" />
      </div>
      <div class="nav-bar__modal-profile-info">
        <h1 class="nav-bar__modal-profile-name">{{ user.name }}</h1>
        <span class="nav-bar__modal-profile-email">{{ user.email }}</span>
      </div>
    </div>



    <div class="nav-bar__modal-profile-item">
      <i class="nav-bar__modal-profile-item-icon icon-location"></i>
      <div class="nav-bar__modal-profile-item-value">
        <h5 class="nav-bar__modal-profile-item-title">Dirección</h5>
        <h5 class="nav-bar__modal-profile-item-subtitle">{{ user.address }}</h5>
      </div>
    </div>

    <!-- Switch dark mode -->
    <!-- <div class="nav-bar__modal-profile-item">
      <i class="nav-bar__modal-profile-item-icon" [ngClass]="isDark() ? 'icon-sun' : 'icon-moon'"></i>
      <div class="nav-bar__modal-profile-item-value">
        <h5 class="nav-bar__modal-profile-item-title">{{isDark() ? 'Modo claro' : 'Modo oscuro' }}</h5>
      </div>
      <div class="toggle-container">
        <label class="switch">
          <input type="checkbox" (change)="toggleMoodDark($event)" [checked]="isDark()" />
          <span class="slider"></span>
        </label>
      </div>
    </div> -->

    <div class="nav-bar__modal-profile-item" *ngFor="let item of configItems" [routerLink]="[item.path]">
      <i class="nav-bar__modal-profile-item-icon" [ngClass]="item.icon"></i>
      <div class="nav-bar__modal-profile-item-value">
        <h5 class="nav-bar__modal-profile-item-title">{{ item.title }}</h5>
        <span class="nav-bar__modal-profile-item-subtitle" *ngIf="item.subtitle">
          {{ item.subtitle }}
        </span>
        <span *ngIf="item.pending == true" class="nav-bar__modal-profile-item-pending-number">5</span>
      </div>
      <div class="nav-bar__modal-profile-item-pending-dot" *ngIf="item.pending == true"></div>
    </div>
    <!-- <div class="nav-bar__item">
      <i class="nav-bar__item-icon" [ngClass]="isMoodDark ? 'icon-sun' : 'icon-moon'"></i>
      <div class="nav-bar__item-value">
        <h5 class="nav-bar__item-title">{{isMoodDark ? 'Modo claro' : 'Modo oscuro' }}</h5>
      </div>
      <div class="toggle-container">
        <label class="switch">
          <input type="checkbox" (change)="toggleMoodDark($event)" [checked]="themeService.isDark" />
          <span class="slider"></span>
        </label>
      </div>
    </div> -->


  </div>



</nav>