@mixin layoutAuth(){
        width: 100%;
        height: 100vh;
        // padding: 1rem;
        background-color: var(--background-color);
      
        .main-form {
          width: 100%;
          height: 90%;
          display: flex;
          align-items: center;
          justify-content: center;
      
          .main-inputs {
            width: 100%;
            border-radius: 10px;
            padding: 15px;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin: 0 auto;
      
            .logo-horizon {
              max-width: 11%;
              user-select: none;
            }
            
            .title {
              user-select: none;
              max-width: 90%;
              font-size: 1.2rem;
              font-weight: 500;
            }
      
      
            .link {
              font-size: 0.8rem;
              a {
                text-decoration: none;
                color: var(--color-primary);
                font-weight: 700;
              }
            }
      
            .username-container,
            .email-container,
            .password-container {
              display: flex;
              align-items: center;
              justify-content: start;
              position: relative;
              gap: 15px;
      
              .name,
              .lastname,
              .user,
              .email,
              .password,
              .confirmPassword {
                @include input-container;
                padding: 10px 0;
      
                label {
                  position: absolute;
                  top: -4px;
                  left: 0;
                  font-size: 0.8rem;
                  display: flex;
                  gap: 5px;
      
                  span {
                    color: var(--color-dark-gray);
                  }
      
                  span[title*="*"] {
                    display: block;
                    color: red;
                    font-size: 20px;
                  }
                }
      
                input {
                  @include input-auth(var(--color-gray), var(--color-dark-gray), 100%);
                }
      
                i {
                  position: absolute;
                  right: 12px;
                  top: 50%;
                  transform: translateY(-50%);
                  color: var(--color-dark-gray);
                }
      
                .password-forget {
                  position: absolute;
                  bottom: -20px;
                  right: 0;
                  font-size: 0.8rem;
                  text-decoration: none;
                  color: var(--color-gray);
                }
              }
            }
      
            .username-container,
            .password-container {
              height: auto;
              flex-direction: column;      
            }

            .button-login {
              margin-top: 40px;
            }
      
            .button-container {
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: end;
              flex-direction: column;
              gap: 10px;
              margin-top: 14px;
      
              button {
                @include button-styles(
                  var(--color-primary),
                  var(--color-primary-shade),
                  50%,
                  50px
                );
              }
            }
      
            .networks {
              width: 100%;
              height: 80px;
              margin-block: 18px;
      
              .text-network {
                width: 100%;
                height: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                margin: 10px 0;
      
                p {
                  display: block;
                  width: auto;
                  color: var(--color-dark-gray);
                  font-size: 0.8rem;
                  background-color: var(--color-white);
                  z-index: 1000;
                  padding: 6px;
                }
      
                .line {
                  position: absolute;
                  width: 50%;
                  // height: 0.5px;
                  background-color: var(--color-gray);
                }
              }
      
              .networks-buttons {
                height: 50%;
                display: flex;
                align-items: center;
                gap: 14px;
      
                button {
                  display: inherit;
                  align-items: inherit;
                  justify-content: center;
                  border-radius: 8px;
                  outline: none;
                  border: none;
                  cursor: pointer;
                  height: 100%;
                  width: 40px;
      
                  &:first-of-type {
                    background-color: #ececec;
                    border: 1px solid var(--color-gray);
                  }
      
                  &:nth-of-type(2) {
                    background-color: var(--color-facebook);
                  }
      
                  img {
                    height: 20px;
                    width: auto;
                    object-fit: contain;
                  }
                }
              }
            }
          }
        }

}