
@mixin input-auth($bg-color, $text-color, $width) {
    border-radius: inherit;
    outline: none;
    border: none;
    height: 50px;
    width: $width;
    margin: 0;
    background-color: var(--color-medium);
    color: $text-color;
    padding-inline: 12px;
    margin-top: 10px;
  }
  