$positions: (
  top: (
    0: 0,
    10: 10px,
    20: 20px,
    25p: 25%,
    50p: 50%,
    100p: 100%,
  ),
  right: (
    0: 0,
    10: 10px,
    20: 20px,
    25p: 25%,
    50p: 50%,
    100p: 100%,
  ),
  bottom: (
    0: 0,
    10: 10px,
    20: 20px,
    25p: 25%,
    50p: 50%,
    100p: 100%,
  ),
  left: (
    0: 0,
    10: 10px,
    20: 20px,
    25p: 25%,
    50p: 50%,
    100p: 100%,
  ),
);

@each $dir, $values in $positions {
  @each $key, $val in $values {
    .#{$dir}-#{$key} {
      #{$dir}: #{$val};
    }
  }
}
