<div class="categories">
  <div class="header__categories">
    <h4 class="categories__title">Categoría de productos</h4>
    <a class="categories__subtitle">Ver todas</a>
  </div>
  <ul class="categories__list">
    <button
      class="categories__item"
      *ngFor="let category of categories; let i = index"
      [class.fixed]="i == 0"
      [routerLink]="['/category', category.name]"
    >
      {{ category?.name }}
    </button>
  </ul>
  <div class="view-more-categories">
    <a href="" class="view-more-categories__redirect">
      Ver todas las categorías
    </a>
  </div>
</div>
