<footer class="footer">
  <header class="footer__header">
    <div class="footer__branding">
      <img class="footer__logo" src="assets/img/credora-white-one.png" alt="logo" />
      <h3 class="footer__title">Impulsamos relaciones con credibilidad</h3>
      <span class="footer__subtitle">Credora Business, {{ year }}.</span>
    </div>
    <div class="footer__columns">
      <div class="footer__column" *ngFor="let column of Columns">
        <h4 class="footer__column-title">{{ column?.title }}</h4>
        <span class="footer__column-link" *ngFor="let item of column?.items">
          <a [routerLink]="item.redirect">{{ item?.text }}</a>
        </span>
      </div>
    </div>
  </header>
  <div class="footer__terms-conditions">
    <div class="footer__item">
      <a href="">Términos y condiciones</a>
      <span>.</span>
      <a href="">Política de privacidad</a>
    </div>
    <div class="footer__item">
      <span>Credora Business es una corporación de comercio y servicios en línea, constituido en Barranquilla,
        Colombia.</span>
    </div>
    <div class="footer__item">
      <span>© 2025 - 2026 Credora Business S.A.S. Todos los derechos reservados.</span>
    </div>
  </div>
</footer>