@import "breakpoints";
@import "variables";

.layout-wrapper {
  width: 100%;
  height: auto;
  min-height: 100vh;
  box-sizing: border-box;
  background: var(--background-color2);

  .layout-container {
    height: 100%;
    margin: 0;
    .layout-content {
      height: auto;
      width: 100%;
      max-width: 100%;
      box-sizing: border-box;
      position: relative;

      .notifications {
        width: 400px;
        height: 300px;
        
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 6px;
        position: fixed;
        right: 20px;
        top: 140px;
        z-index: 10000;

      }
    }
  }
}
