<div class="layout-wrapper">
  <div class="layout-container">
    <app-nav-bar></app-nav-bar>
    <div class="layout-content">

      @if (showConnectionMessage()) {
        <app-status-ui-message [status]="statusNetwork()">
        </app-status-ui-message>
      }

      @if (isClose) {
      <app-promo-banner (closeThisComponent)="closeAlertNewPromotions()">
      </app-promo-banner>
      }

      <!-- <div class="notifications">
        <app-notifications-modal></app-notifications-modal>
      </div> -->

      <!-- <div class="notifications-container"> -->
        <!-- <app-notifications-alert></app-notifications-alert> -->
        <!-- <app-notifications-alert></app-notifications-alert> -->
        <!-- <app-notifications-alert></app-notifications-alert> -->
      <!-- </div> -->

      <router-outlet></router-outlet>
      <app-footer></app-footer>
    </div>
  </div>
</div>