.dropdown.countries {

    background-color: #F3F5F9;
    border: none;
    border-radius: 6px;
    line-height: 1.21428571em;
    margin: 4px;
    max-width: 137px;
    max-height: 100%;
    position: absolute;
    width: 100%;


    .text {
      color: #041a4e80;
      font-weight: 600;
    }


    .dropdown-list {
      top: 40px;
      overflow-y: auto;
      background-color: #fff;
      max-height: 40vh;
  
      &.country-list {
        max-height: 40vh;
        height: fit-content;
  
        li {
          position: relative;
          p {
            text-transform: lowercase;
            &::first-letter{
              text-transform: uppercase;
            }
          }
        }
      }
  
  
      .item {
        gap: .8rem;
        padding: .78571429rem .7rem;
  
        &.selected,
        &:hover {
          font-weight: 600;
          background: rgba(0, 0, 0, 0.03);
        }
      }
    }
  
    img {
      width: 28px;
      max-height: 28px;
    }
  
    &::before {
      display: none;
    }
  
    input {
      display: none;
    }
  
    .country {
      align-items: center;
      display: flex;
      gap: .48rem;
      justify-content: center;
      width: 100%;
  
      .text {
        flex: auto;
        cursor: text;
        outline: none;
      }
    }
  
  
  }

  