@import "../../shared/styles/variables.scss";
@import "breakpoints";

main {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: var(--background-color);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 50px;

  @include respond-to("desktop") {
    .products {
      width: 70%;
      margin: 0 auto;
    }
  }
}
