@import "../../shared/styles/variables.scss";
@import "breakpoints";

.home {

   section{
    margin-bottom: 20px;
  }

  &__section {
    &--banner {
      @include respond-to("desktop") {
        margin: 10px;
        box-sizing: border-box;
      }
    }
    &--recent,
    &--offers  {
      @include respond-to("desktop") {
        width: 80%;
        margin: 0 auto;
      }
    }
    &--newsletter {
      background: var(--gray-light);
    }
  }

}
