@import '../../shared/styles/variables.scss';



.home {
    overflow-x: hidden;
    width: 100%;
    height: 100%;  
    box-sizing: border-box;
    background: linear-gradient(var(--color-white), var(--color-white-tint));
      
  
    .home-container {
      height: 100%;  
      margin: 0;
  
      .home-content {
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
      }
    }
  }
  