@import "variables";
@import "breakpoints";

.hero {
  width: 100%;
  min-height: 50vh;
  box-sizing: border-box;
  padding: 10px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;

  .hero-buttons {
    position: absolute;
    top: 14px;
    right: 4px;
    width: 25%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .hero-button {
      width: 50%;
      height: 100%;
      border: none;
      outline: none;
      background-color: transparent;
      clip-path: circle();
      background-color: var(--color-medium);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      i {
        color: var(--color-dark-gray);
        font-weight: 700;
        font-size: 0.6rem;
      }

      &.disabled {
        opacity: 0.4;
      }
    }
  }

  .hero-titles {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;

    .hero__title {
      color: var(--color-white);
      margin: 0;
      font-weight: 600;
      max-width: 60%;
    }

    .hero__description {
      color: var(--color-gray);
    }
  }

  .hero-call-action {
    position: absolute;
    bottom: 20px;
    padding: 10px;
    background-color: var(--color-white);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    cursor: pointer;

    .hero-call-action-button {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      border: none;
      outline: none;
      background-color: transparent;
      cursor: pointer;

      .hero-call-action-text {
        color: var(--color-dark-gray);
      }

      .icon {
        background-color: var(--color-gray);
        padding: 10px;
        clip-path: circle();
        transform: rotate(-45deg);
        color: var(--color-dark-gray);
      }
    }
  }

  @include respond-to("small-screen") {
    .hero-buttons {
      width: 20%;
      height: 30px;
    }

    .hero-titles {
      .hero__title {
        font-size: 1rem;
        max-width: 50%;
      }

      .hero__description {
        font-size: 0.7rem;
        max-width: 80%;
      }
    }

    .hero-call-action {
      bottom: 10px;
      padding: 4px;
      width: 50%;
      height: 10%;
      border-radius: 10px;

      .hero-call-action-button {
        .hero-call-action-text {
          font-size: 0.6rem;
          white-space: nowrap;
        }

        .icon {
          background-color: var(--color-gray);
          padding: 4px;
          clip-path: circle();
          transform: rotate(-45deg);
          color: var(--color-dark-gray);
        }
      }
    }
  }

  @include respond-to("tablet") {
    .hero-buttons {
      width: 15%;
      .hero-button {
        i {
          font-size: 0.9rem;
        }
      }
    }

    .hero-titles {
      .hero__title {
        font-size: 1.8rem;
      }

      .hero__description {
        font-size: 1.4rem;
        max-width: 70%;
      }
    }

    .hero-call-action {
      width: 35%;
      .hero-call-action-button {
        .hero-call-action-text {
          font-size: 1.1rem;
        }

        .icon {
          background-color: var(--color-gray);
          padding: 10px;
          clip-path: circle();
          transform: rotate(-45deg);
          color: var(--color-dark-gray);
        }
      }
    }
  }

  @include respond-to("laptop") {
    min-height: 80vh;

    .hero-buttons {
      bottom: 10px;
      top: auto;
      right: 4px;
      width: 8%;

      .hero-button {
        i {
          font-size: 0.8rem;
        }
      }
    }

    .hero-titles {
      .hero__title {
        font-size: 2.8rem;
        max-width: 50%;
      }

      .hero__description {
        font-size: 1rem;
        max-width: 25%;
      }
    }

    .hero-call-action {
      bottom: 10px;
      width: max-content;
      min-width: 13%;

      .hero-call-action-button {
        .hero-call-action-text {
          font-size: 0.8rem;
        }
      }
    }
  }

  @include respond-to("desktop") {
  }

  @include respond-to("big-screen") {
    .hero-titles {
      .hero__title {
        font-size: 3.4rem;
        max-width: 50%;
      }

      .hero__description {
        font-size: 1.5rem;
      }
    }

    .hero-call-action {
      bottom: 10px;
      width: max-content;
      min-width: 13%;

      .hero-call-action-button {
        .hero-call-action-text {
          font-size: 0.8rem;
        }
      }
    }
  }
}
