<section class="hero">
    <div class="hero-buttons">
        <button class="hero-button disabled">
            <i class="icon-arrow-chevron-left"></i>
        </button>
        <button class="hero-button">
            <i class="icon-arrow-chevron-right"></i>
        </button>
    </div>
    <div class="hero-titles">
        <h1 class="hero__title">{{values.title}}</h1>
        <span class="hero__description">{{values.description}}</span>
    </div>
    <div class="hero-call-action">
        <button class="hero-call-action-button">
            <span class="hero-call-action-text">Comenzar a comprar</span>
            <i class="icon-arrow-right icon"></i>

        </button>
    </div>
</section>