@import '../../../assets/variables.scss';

.user {
  background-color: var(--white-main);
  overflow-x: hidden;
  width: 100%;
  height: 100%;  
  box-sizing: border-box;

  .user-container {
    height: 100%;  
    margin: 0;

    .user-content {
      width: 100%;
      max-width: 100%;
      box-sizing: border-box;
    }
  }
}
