@import "variables";
@import "breakpoints";

.alert {
  width: 100%;
  min-height: 5vh;
  background-color: var(--color-primary);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: sticky;
  top: 12vh;
  z-index: 1000;

  &-button__close {
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--color-white);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    position: absolute;
    top: 4px;
    right: 4px;

    span {
      font-family: "Montserrat";
    }
  }

  &-description {
    color: var(--color-white);

    width: 80%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;

    font-weight: 300;
    line-height: 30px;
    font-size: 0.9rem;
    text-align: start;

    .alert-description__link {
      border-radius: 4px;
      margin-left: 4px;
      box-sizing: border-box;
      color: var(--color-white);
      transition: transform 0.5s ease;

      &:hover {
        transform: translateX(10px);
      }
    }
  }

  @include respond-to("mobile") {
  }

  @include respond-to("tablet") {
    &-description {
      font-size: 1rem;
    }
  }

  @include respond-to("laptop") {
    justify-content: center;
    width: 100%;

    &-description {
      font-size: 0.9rem;
      flex-direction: row;
    }

    &-button__close {
      position: absolute;
      top: 25%;
      right: 10px;
    }
  }

  @include respond-to("desktop") {
    min-height: 5vh;
    // display: flex;

    &-description {
      width: 100%;
      font-size: 0.8rem;
    }
  }

  @include respond-to("big-screen") {
  }
}
