@import "breakpoints";
@import "variables";

// Phones
.newsletter {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: var(--color-primary);
  margin-block: 30px;

  .newsletter-form__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-block: 40px;
    text-align: center;

    .newsletter-title {
      font-weight: 600;
      max-width: 80%;
      text-align: center;
      font-size: 1.3rem;
      color: var(--color-white);
    }

    .newsletter-description {
      font-size: 0.9rem;
      font-weight: 300;
      color: var(--color-white);
      max-width: 90%;
    }

    .newsletter-icon{
      color: white;
      font-size: 2.4rem;
    }

    .newsletter-form {
      width: 90%;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      position: relative;
      margin-top: 40px;
      box-sizing: border-box;
      border-radius: 50px;
      border: 1px solid var(--color-medium);
      background-color: var(--color-medium);

      .newsletter-icon__email {
        height: 25px;
        width: 25px;
        z-index: 1000;
        position: absolute;
        left: 10px;
        top: 35%;
        color: var(--color-gray);
      }

      .newsletter-form__input {
        position: absolute;
        left: 0;
        width: 90%;
        height: 100%;
        background-color: var(--color-medium);
        border: none;
        outline: none;
        border-radius: inherit;
        padding-left: 45px;
      }

      .newsletter-button__submit {
        position: absolute;
        right: 5px;
        z-index: 1000;
        padding: 10px;
        border-radius: 10px;
        color: var(--color-white);
        outline: none;
        border: none;
        background-color: var(--color-primary);
        cursor: pointer;
      }
    }
  }

  @include respond-to("small-screen") {
    height: 80vh;
    .newsletter-form__wrapper {
      .newsletter-form {
        width: 100%;
        justify-content: center;
        height: 100px;
        .newsletter-form__input {
          width: 80%;
        }
        .newsletter-button__submit {
          right: 10px;
        }
      }
    }
  }

  @include respond-to("tablet") {
    .newsletter-form__wrapper {
      .newsletter-form__figure {
        img {
          height: 70%;
        }
      }

      .newsletter-form {
        width: 70%;
      }

      .newsletter-title {
        font-size: 1.6rem;
      }

      .newsletter-description {
        max-width: 60%;
        font-size: 1rem;
      }
    }
  }

  @include respond-to("laptop") {
    flex-direction: row;
    .newsletter-form__wrapper {
      width: 50%;
      .newsletter-form__figure {
        img {
          height: 70%;
        }
      }

      .newsletter-form {
        width: 70%;

        .newsletter-button__submit{
          right: 20px;
        }
      }

      .newsletter-title {
        font-size: 1.6rem;
      }

      .newsletter-description {
        max-width: 60%;
        font-size: 1rem;
      }
    }

    .newsletter-image {
      width: 50%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("https://imagenes.eltiempo.com/files/image_1200_600/uploads/2024/08/16/66bfcfd2c369c.jpeg");
    }
  }
}
