<footer class="footer">
  <header class="footer__header">
    <div class="footer__branding">
      <i class="footer__logo icon-holnex"></i>
      <h3 class="footer__title">Impulsamos relaciones con credibilidad</h3>
      <span class="footer__subtitle">Holnex, {{ year }}.</span>
    </div>
    <div class="footer__columns">
      <div class="footer__column" *ngFor="let column of Columns">
        <h4 class="footer__column-title">{{ column?.title }}</h4>
        <span class="footer__column-link" *ngFor="let item of column?.items">
          <ng-container *ngIf="item.type === 'href'; else internalLink">
            <a [href]="item.redirect" target="_blank" rel="noopener noreferrer">
              {{ item?.text }}
            </a>
          </ng-container>
          <ng-template #internalLink>
            <a [routerLink]="item.redirect">
              {{ item?.text }}
            </a>
          </ng-template>
        </span>
      </div>
    </div>
  </header>
  <div class="footer__terms-conditions">
    <div class="footer__item">
      <a href="">Términos y condiciones</a>
      <span>.</span>
      <a href="">Política de privacidad</a>
    </div>
    <div class="footer__item">
      <span>Holnex es una corporación de comercio y servicios en línea, constituido en Barranquilla,
        Colombia.</span>
    </div>
    <div class="footer__item">
      <span>© 2025 - 2026 Holnex Todos los derechos reservados.</span>
    </div>
  </div>
</footer>