@import "../../../../shared/styles/inputs.scss";
@import "../../../../shared/styles/auth.scss";
@import "../../../../../styles.scss";


/* Phones */
.main-content {
  @include layoutAuth()
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1023px) {
  .main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    .main-form {
      border-radius: 10px;
      margin: 0 auto;
      max-width: 75%;
      height: auto;
    }
  }
}

/* Small laptops */
@media (min-width: 1024px) and (max-width: 1279px) {
  .main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    .main-form {
      margin: 0 auto;
      max-width: 60%;
      height: auto;
      
    }
  }
}

/* Medium screens */
@media (min-width: 1280px) and (max-width: 1919px) {
  .main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    .main-form {
      margin: 0 auto;
      max-width: 40%;
      height: auto;
    }
  }
}

/* Big screens */
@media (min-width: 1920px) {
  .main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    .main-form {
      margin: 0 auto;
      max-width: 30%;
      height: auto;
    }
  }
}
