@import "../../../../shared/styles/inputs.scss";
@import "../../../../shared/styles/auth.scss";
@import "../../../../../styles.scss";
@import "breakpoints";

/* Phones */
.main-content {
  @include layoutAuth();

  @include respond-to("tablet") {
    display: flex;
    align-items: center;
    justify-content: center;
    .main-form {
      border-radius: 10px;
      margin: 0 auto;
      max-width: 75%;
      height: auto;
    }
  }

  @include respond-to("laptop") {
    display: flex;
    align-items: center;
    justify-content: center;
    .main-form {
      margin: 0 auto;
      max-width: 60%;
      height: auto;
    }
  }

  @include respond-to("desktop") {
    display: flex;
    align-items: center;
    justify-content: center;
    .main-form {
      margin: 0 auto;
      max-width: 40%;
      height: auto;
    }

  }
}
