<main class="container">
  <form class="form">
    <header class="form__header">
      <i class="form__header-logo icon-holnex"></i>
      <h1 class="form__header-title">Inicia sesión</h1>
    </header>
    <aside class="form__federate">
      <div class="title">
        <p>Iniciar sesión usando</p>
        <div class="line"></div>
      </div>
      <div class="buttons">
        <button>
          <img src="assets/img/logo/Google.png" />
        </button>
        <button>
          <img src="assets/img/logo/Facebook.png" />
        </button>
      </div>
    </aside>
    <div class="form__inputs">
      <div class="username">
        <div class="wrapper">
          <label class="label" for="email">Correo o teléfono</label>
          <input class="input" id="email" type="text" />
          <i class="icon icon-email" aria-hidden="true"></i>
        </div>
      </div>
      <div class="password">
        <div class="wrapper">
          <label class="label" for="password">Contraseña</label>
          <input class="input" id="password" type="password" />
          <i class="icon icon-lock" aria-label="Mostrar contraseña"></i>
          <a class="password-forget" routerLink="/user/forget">¿Olvidaste tu contraseña?</a>
        </div>
      </div>
    </div>
    <div class="form__submit">
      <button routerLink="">Iniciar sesión</button>
      <span class="link">Aún no tienes cuenta? <a routerLink="/user/register">Registrate</a></span>
    </div>
  </form>
  <figure class="ads">
    <img src="assets/img/background.jpg" alt="foto-login">
  </figure>
</main>