<main class="main-content">
  <form class="main-content__form">
    <div class="main-content__form-inputs">
      <i class="main-content__form-inputs-logo icon-hx-logo" ></i>
      <h1 class="main-content__form-inputs-title">Ingresa tus credenciales e inicia sesión</h1>

      <div class="username-container">
        <div class="user">
          <label for="email">Correo o teléfono</label>
          <input id="email" type="text" />
          <i class="icon-email" aria-hidden="true"></i>
        </div>
      </div>
      <div class="password-container">
        <div class="password">
          <label for="password">Contraseña</label>
          <input id="password" type="password" />
          <i class="icon-password" aria-label="Mostrar contraseña"></i>
          <a class="password-forget" routerLink="/user/forget">¿Olvidaste tu contraseña?</a>
        </div>
      </div>

      <div class="networks">
        <div class="text-network">
          <p>O continúa con</p>
          <div class="line"></div>
        </div>
        <div class="networks-buttons">
          <button>
            <img src="assets/img/logo/Google.png" />
          </button>
          <button>
            <img src="assets/img/logo/Facebook.png" />
          </button>
        </div>
      </div>

      <div class="button-container">
        <button routerLink="">Iniciar sesión</button>
        <span class="link">Aún no tienes cuenta?
          <a routerLink="/user/register">Registrate</a></span>
      </div>
    </div>
  </form>
  <div class="main-image">
    <img src="assets/img/background.jpg" alt="foto-login">
  </div>
</main>