<div class="slider-products-wrapper" [ngStyle]="customStyles">
    <h1 class="slider-products-title">{{title}}</h1>
    <div class="slider-products" #slider [ngClass]="loading ? 'isLoading' : ''">
        <ng-container *ngIf="!loading; else skeleton">
            <div class="product" *ngFor="let product of products">
                <app-product-card [product]="product"
                    (productClick)="productsService.detailProduct(product)"></app-product-card>
            </div>
        </ng-container>
        <ng-template #skeleton>
            <app-card-product-skeleton *ngFor="let _ of [].constructor(20)" [customClass]="'product'"></app-card-product-skeleton>
        </ng-template>
    </div>

    <button class="slider-button-arrow-left arrow" (click)="loading ? null : scrollSlider('left')">
        <i class="icon-arrow-chevron-left"></i>
    </button>
    <button class="slider-button-arrow-right arrow" (click)="loading ? null : scrollSlider('right')">
        <i class="icon-arrow-chevron-right"></i>
    </button>
</div>