@import "../../../../shared/styles/skeleton.scss";
@import "breakpoints";
@import "variables";

/*Phones*/
.slider-products-wrapper {
  width: 100%;
  height: auto;
  min-height: 30vh;
  box-sizing: border-box;
  padding: 20px;
  position: relative;

  .slider-products-title {
    font-size: 1rem;
    color: var(--color-primary);
    margin-bottom: 20px;
    font-weight: 500;
  }

  .slider-products {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    gap: 2px;
    padding-bottom: 10px;
    white-space: nowrap;

    &::-webkit-scrollbar {
      display: none;
    }

    .product {
      width: 90%;
      min-width: 90%;
      height: min-content;
      scroll-snap-align: start;
      min-height: 250px;
      border-radius: 9px;
      display: flex;
      flex-direction: column;
      padding: 10px;
      gap: 10px;
    }
  }

  .arrow {
    background-color: var(--color-medium);
    outline: none;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: var(--border-radius);
    position: absolute;
    top: calc(100% - 55%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    img {
      max-width: 60%;
      height: 60%;
    }
  }

  .slider-button-arrow-left {
    left: 10px;
    img {
      transform: rotateY(180deg);
    }
  }

  .slider-button-arrow-right {
    right: 3px;
  }

  button {
    &.disabled {
      background-color: var(--color-light);
      cursor: not-allowed;
    }
  }

  @include respond-to("tablet") {
    .slider-products-title {
      font-size: 1.2rem;
    }

    .slider-products {
      .product {
        width: 50%;
        height: min-content;
        min-width: 50%;
        min-height: 250px;
      }
    }
  }

  @include respond-to("laptop") {
    .slider-products-title {
      font-size: 1.4rem;
    }

    .slider-products {
      &::-webkit-scrollbar {
        display: block;
      }

      .product {
        width: calc(100% / 3);
        min-width: calc(100% / 3);
      }
    }

    .arrow {
      width: 60px;
      height: 60px;
      top: calc(100% - 60%);

      img {
        max-width: 60%;
        height: 60%;
      }
    }
  }

  @include respond-to("desktop") {
    min-height: 10vh;

    .slider-products-title {
      font-size: 1.2rem;
    }

    .slider-products {
      gap: 0;

      &::-webkit-scrollbar {
        display: block;
      }

      .product {
        width: calc(100% / 4.4);
        min-width: calc(100% / 4.4);
      }
    }

    .arrow {
      width: 45px;
      height: 45px;
    }
  }
}
