@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

html,
body {
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

h2 {
  margin: 0;
}

@mixin input-container {
  width: 100%;
  height: auto;
  border-radius: 6px;
  position: relative;
  min-height: 60px;
  display: flex;
  align-items: center;
}

@mixin button-styles($bg-color, $hover-color, $width, $height) {
  background-color: $bg-color;
  border-radius: 4px;
  border: none;
  outline: none;
  color: var(--color-white);
  cursor: pointer;
  height: $height;
  width: $width;
  transition: 0.5s ease;
  font-family: 'Montserrat';

  &:hover {
    background-color: $hover-color;
  }
}

@mixin error(){
  width: max-content;
  height: auto;
  padding: 2px;

  p{
    color: var(--color-danger);
  }
  svg{
    fill: var(--color-danger);
  }

  
}
