<section class="container">

    <header class="container__header">
        <h1 class="container__header--title title-section">{{ showcaseContent[typeShowcase].title }}</h1>
        <app-button 
            *ngIf="labelButton" 
            [text]="labelButton" 
            aria-label="Ver toda la información" 
            variant="outline"
            [classCustom]="{
              base: 'button',
              bgColor: 'primary-to-white',
              textColor: 'white',
              more: ['rounded-lg']

            }">
        </app-button>
    </header>
    <div class="container__inner" [ngClass]="{ 'right': orientation === 'right' }">
        <article class="container__inner__main">
            <h2 class="container__inner__main--title">Nuevas prendas</h2>
            <p class="container__inner__main--subtitle">Explora las últimas modas</p>
        </article>

        <article class="container__inner__grid" [ngSwitch]="typeShowcase">

            <ng-container *ngSwitchCase="ShowcaseTypeEnum.NewProducts">

                <div class="container__inner__grid-item"
                    *ngFor="let product of showSkeleton ? skeletonArray : visibleData">

                    <ng-container *ngIf="showData">
                        <app-product-card (productClick)="productsService.detailProduct(product)"
                            [product]="product"></app-product-card>
                    </ng-container>

                    <ng-container *ngIf="showSkeleton">
                        <app-skeleton [typeskeleton]="SkeletonTypeEnum.productCard"></app-skeleton>
                    </ng-container>

                </div>

            </ng-container>
        </article>
    </div>

</section>