<section class="container">

  <header class="container__header">
    <h1 class="container__header--title title-section">{{ showcaseContent[typeShowcase].title }}</h1>
    @if (labelButton) {
      <app-button
        [text]="labelButton"
        aria-label="Ver toda la información"
        variant="ghost"
            [classCustom]="{
              base: 'button',
              bgColor: 'primary-to-white',
              textColor: 'white',
              more: ['rounded-lg', 'text-font-600']
            }">
      </app-button>
    }
  </header>
  <div class="container__inner" [ngClass]="{ 'right': orientation === 'right' }">
    <article class="container__inner__main">
      <h2 class="container__inner__main--title">Nuevas prendas</h2>
      <p class="container__inner__main--subtitle">Explora las últimas modas</p>
    </article>

    <article class="container__inner__grid">
      @switch (typeShowcase) {
        @case (ShowcaseTypeEnum.NewProducts) {
          @for (product of showSkeleton ? skeletonArray : visibleData; track product) {
            <div class="container__inner__grid-item"
              >
              @if (showData) {
                <app-product-card (productClick)="productsService.detailProduct(product)"
                [product]="product"></app-product-card>
              }
              @if (showSkeleton) {
                <app-skeleton [typeskeleton]="SkeletonTypeEnum.productCard"></app-skeleton>
              }
            </div>
          }
        }
      }
    </article>
  </div>

</section>