@import "../../../../shared/styles/variables.scss";
@import "../../../../shared/styles/skeleton.scss";
@import "../../../../../styles.scss";

/*Phones*/
.slider-products-wrapper {
  width: 100%;
  height: auto;
  min-height: 30vh;
  box-sizing: border-box;
  padding: 20px;
  position: relative;

  .slider-products-title {
    font-size: 1rem;
    color: var(--color-primary);
    margin-bottom: 20px;
    font-weight: 500;
  }

  .slider-products {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    gap: 2px;
    padding-bottom: 10px;
    white-space: nowrap;

    &::-webkit-scrollbar {
      display: none;
    }

    &.isLoading {
      overflow: hidden;
    }

    ngx-skeleton-loader {
      display: block;
      border-radius: 5px;
    }

    .product {
      @include skeleton-product(60%, min-content, 60%, 60%, 250px);
    }
  }

  .arrow {
    background-color: var(--color-medium);
    outline: none;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 10px;
    position: absolute;
    top: calc(100% - 55%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    img {
      max-width: 60%;
      height: 60%;
    }
  }

  .slider-button-arrow-left {
    left: 10px;
    img {
      transform: rotateY(180deg);
    }
  }

  .slider-button-arrow-right {
    right: 3px;
  }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1023px) {
  .slider-products-wrapper {
    .slider-products-title {
      font-size: 1.2rem;
    }

    .slider-products {
      .product {
        .product {
          @include skeleton-product(40%, min-content, 40%, 40%, 250px);
        }
      }
    }
  }
}

/* Small laptops */
@media (min-width: 1024px) {
  .slider-products-wrapper {
    .slider-products-title {
      font-size: 1.4rem;
    }

    .slider-products {
      &::-webkit-scrollbar {
        display: block;
      }
    }

    .arrow {
      width: 60px;
      height: 60px;
      top: calc(100% - 60%);

      img {
        max-width: 60%;
        height: 60%;
      }
    }
  }
}

@media (min-width: 1280px) {
  .slider-products-wrapper {
    min-height: 10vh;

    .slider-products-title {
      font-size: 1.2rem;
    }

    .slider-products {
      width: 80%;
      gap: 0;
      &::-webkit-scrollbar {
        display: block;
      }

      .product {
        @include skeleton-product(25%, min-content, 25%, 25%, 250px);
      }
    }

    .arrow {
      width: 45px;
      height: 45px;
    }

    .slider-button-arrow-right {
      right: calc(100% - 80%);
    }
  }
}

/* Big screens */
@media (min-width: 1920px) {
}
