<div class="slider-products-wrapper">
    <h1 class="slider-products-title">Productos relacionados</h1>
    <div class="slider-products" #slider [ngClass]="loading ? 'isLoading' : ''">
        <ng-container *ngIf="!loading; else skeleton">
            <div class="product" *ngFor="let product of products">
                <app-card-product [product]="product"
                    (productClick)="productsService.detailProduct(product)"></app-card-product>
            </div>
        </ng-container>
        <ng-template #skeleton>
            <app-card-product-skeleton *ngFor="let _ of [].constructor(20)" [customClass]="'product'"></app-card-product-skeleton>
        </ng-template>
    </div>

    <button class="slider-button-arrow-left arrow" (click)="loading ? null : scrollSlider('left')">
        <img src="assets/img/icons/svg/arrow-chevron-right/arrow-chevron-right-blue.svg" alt="">
    </button>
    <button class="slider-button-arrow-right arrow" (click)="loading ? null : scrollSlider('right')">
        <img src="assets/img/icons/svg/arrow-chevron-right/arrow-chevron-right-blue.svg" alt="">
    </button>
</div>