@import "../../../../shared/styles/skeleton.scss";
@import "breakpoints";
@import "variables";

.container-products {
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  height: max-content;
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;

  .product-wrapper {
    width: 100%;
    min-height: 85vh;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-template-rows: max-content;
    gap: 10px;
    justify-items: center;

    ngx-skeleton-loader {
      display: block;
      border-radius: 5px;
    }

    .product {
      @include skeleton-product(100%, 300px, 80%, 100%, 250px);
    }
  }

  .products__header {
    // position: sticky;
    top: calc(100vh - 88vh);
    left: 0;
    z-index: 4000;
    background-color: var(--color-primary-contrast);
    max-height: max-content;
    min-height: max-content;
    padding-block: 10px;

    .tools-products {
      display: flex;
      flex-direction: column;
      align-items: center;

      .pagination-products {
        width: 100%;
        min-height: 10vh;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 0;

        button {
          cursor: pointer;
          padding: 0;
          display: flex;
          align-items: center;
          gap: 10px;
          color: var(--color-primary);
          height: 60%;
        }
        .button-arrow-left,
        .button-arrow-right {
          width: 11%;
          height: 100%;
          background-color: transparent;
          border: none;
          outline: none;
          clip-path: circle();
          justify-content: center;

          .icon {
            width: 20%;
            height: 60%;
          }

          .text-arrow {
            display: none;
          }

          &:hover {
            background-color: var(--color-light-blue-tint);
          }
        }

        .button-arrow-left .icon {
          transform: rotate(-180deg);
        }

        .pages {
          width: 50%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: space-around;

          button {
            width: 40px;
            height: max-content;
            padding: 10px;
            background-color: transparent;
            outline: none;
            border: none;
            font-size: 0.75rem;
            color: var(--color-font-gray);
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;

            &.active {
              color: var(--color-white);
              background-color: var(--color-primary);
            }
          }
        }
      }
    }

    .section-titles {
      display: flex;
      flex-direction: column;
      gap: 13px;
      align-items: center;
      padding-top: 10px;
      padding-left: 4px;
      padding-right: 4px;

      & > * {
        text-align: center;
      }

      .title {
        color: var(--color-primary-to-white);
        font-weight: 300;
        font-size: 1.2rem;
        max-width: 80%;
      }

      .subtitle {
        font-size: 0.8rem;
        color: var(--color-font-gray);
        max-width: 80%;
      }

      .subtitle-view-all {
        color: var(--color-primary-to-white);
        font-size: 0.8rem;
        text-decoration: none;
      }
    }
  }

  @include respond-to("small-screen") {
    .product-wrapper {
      grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    }
  }

  @include respond-to("tablet") {
    .product-wrapper {
      gap: 20px;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    .products__header {
      .tools-products {
        .pagination-products {
          width: 80%;
          .pages {
            button {
              font-size: 1.1rem;
            }
          }

          .button-arrow-left,
          .button-arrow-right {
            width: 12%;
            .icon {
              width: 10%;
            }
          }
        }
      }
      .section-titles {
        .title {
          font-size: 1.5rem;
        }

        .subtitle {
          font-size: 1rem;
          max-width: 50%;
        }
      }
    }
  }

  @include respond-to("laptop") {
    .product-wrapper {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      // gap: 18px;
    }

    .products__header {
      .tools-products {
        .pagination-products {
          width: 70%;
          .button-arrow-left,
          .button-arrow-right {
            width: 14%;
            .icon {
              width: 10%;
            }
          }
          .pages {
            button {
              font-size: 1.2rem;
            }
          }
        }
      }
      .section-titles {
        .title {
          font-size: 1.8rem;
        }

        .subtitle {
          font-size: 1.2rem;
          max-width: 50%;
        }
      }
    }
  }

  @include respond-to("desktop") {
    width: 70vw !important;
    max-height: max-content;

    &.full-width {
      width: 100vw !important;
    }

    .product-wrapper {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      grid-template-rows: max-content;
      grid-auto-rows: max-content;
    }

    .products__header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: auto;
      position: static;

      .tools-products {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: end;

        .pagination-products {
          // order: 2;
          width: 100%;
          justify-content: end;
          min-width: 20%;
          // max-width: 350px;
          height: 15%;
          border-radius: 10px;

          // background-color: var(--color-dark-gray-contrast);

          align-self: end;

          .button-arrow-left,
          .button-arrow-right {
            width: 12%;
            padding: 12px;
          }
        }
      }
      .section-titles {
        width: 50%;
        align-items: start;
        justify-content: start;

        & > * {
          text-align: start;
        }

        .title {
          width: 100%;
          font-size: 1.8rem;
          white-space: nowrap;
        }

        .subtitle {
          font-size: 0.8rem;
          max-width: 100%;
        }
      }
    }
  }
}
