<nav class="nav-bar">

  <!-- Logo-->
  <div class=" nav-bar__left">
    <i class="icon-hx-logo nav-bar__logo" [routerLink]="['']"></i>
  </div>


  <!-- Input search component -->
  <div class=" nav-bar__center" [ngClass]="{'active' : viewSearchInput}">
    <app-search-input (closeWrapper)="viewSearchInput = false"></app-search-input>
  </div>


  <!-- Elements only visibility in mobile screen -->
  <div class=" nav-bar__right" [class.no-visibility]="viewSearchInput">

    <!-- Button search -->
    <button class="nav-bar__items-search-input" [class.no-visibility]="viewSideBar"
      (click)="toggleElement($event, 'nav-bar__center')">
      <i class="icon-search"></i>
    </button>

    <!-- Button shopcart -->
    <button class="nav-bar__items-shop-cart" [class.no-visibility]="viewSideBar" [routerLink]="['/shopcart']">
      <i class="icon-shop-cart"></i>
    </button>

    <!-- Button burguer -->
    <button class="nav-bar__items-button-bars" (click)="toggleElement($event, 'nav-bar__sidebar','')">
      <div class="icon-bars" [class.active]="viewSideBar">
        <span class="bars-line"></span>
        <span class="bars-line"></span>
      </div>
    </button>
  </div>


  <!-- Side bar -->
  <div class="nav-bar__sidebar">

    <button class="nav-bar__sidebar-close-button" (click)="toggleElement($event, 'nav-bar__sidebar','')">X</button>

    <!-- Profile user -->
    <div class="nav-bar__profile">
      <div class="nav-bar__profile-content">
        <div class="nav-bar__profile-content-avatar" [ngClass]="{'notLoggued': !isLoggued()}"
          (click)="isLoggued() && toggleElement($event, 'nav-bar__modal-profile')">

          <img [src]="isLoggued() ? user.image : 'assets/img/user-default.jpg'"
            [alt]="isLoggued() ? 'Imagen de: ' + user.name : 'Usuario no autenticado'" />

        </div>
        <div class="nav-bar__profile-content-information">
          <h1 class="nav-bar__profile-name">
            {{ isLoggued() ? user.name : 'Ingresa a tu cuenta' }}
          </h1>
          <span class="nav-bar__profile-email">
            {{ isLoggued() ? user.email : 'Podrás interactuar de mejor forma' }}
          </span>
        </div>
      </div>
      <div class="nav-bar__profile-action">
        <button class="nav-bar__profile-action-login" *ngIf="!isLoggued()" [routerLink]="'/user/login'">Iniciar
          sesión</button>
        <button class="nav-bar__profile-action-edit" *ngIf="isLoggued()">Editar perfil</button>
      </div>
    </div>




    <!-- Information user -->
    <div class="nav-bar__information">
      <div class="nav-bar__item" *ngFor="let item of navItems" (click)="redirectItemNavBar(item.path || '')"
        (mouseenter)="mouseEnter(item.title)" (mouseleave)="mouseLeave()">
        <!--
          Address
          Shop cart
          My purchases
          Notifications
          Messages
          My record
          Favorites products
        -->
        <i class="nav-bar__item-icon" [ngClass]="item.icon"></i>
        <div class="nav-bar__item-value">
          <h5 class="nav-bar__item-title">{{ item.title }}</h5>
          <span class="nav-bar__item-subtitle" *ngIf="item.subtitle">{{user.address}}</span>
          <span *ngIf="item.pending == true" class="nav-bar__item-number-pending">5</span>

        </div>
        <div class="nav-bar__item-tooltip">
          {{ nameItemHover }}
        </div>

      </div>
    </div>

    <!--Configuration user -->
    <div class="nav-bar__configurations">
      <div class="nav-bar__item">
        <i class="nav-bar__item-icon" [ngClass]="isMoodDark ? 'icon-sun' : 'icon-moon'"></i>
        <div class="nav-bar__item-value">
          <h5 class="nav-bar__item-title">{{isMoodDark ? 'Modo claro' : 'Modo oscuro' }}</h5>
        </div>
        <div class="toggle-container">
          <label class="switch">
            <input type="checkbox" (change)="toggleMoodDark($event)" [checked]="themeService.isDark" />
            <span class="slider"></span>
          </label>
        </div>
      </div>
      <div class="nav-bar__item" *ngFor="let item of configItems" (click)="redirectItemNavBar(item.path || '')">
        <!--
          My businness
          Settings
          Help
          Log out
        -->
        <i class="nav-bar__item-icon" [ngClass]="item.icon"></i>
        <div class="nav-bar__item-value">
          <h5 class="nav-bar__item-title">{{ item.title }}</h5>
          <span class="nav-bar__item-subtitle" *ngIf="item.subtitle">{{item.subtitle}}</span>
          <!-- <div
            *ngIf="item.toggle"
            class="toggle-mode"
            (click)="toggleMoodDark($event)"
          >
            <div class="toggle-container">
              <label class="switch">
                <input
                  type="checkbox"
                  id="themeToggle"
                  [checked]="isMoodDark"
                />
                <span class="slider"></span>
              </label>
            </div>
          </div> -->
        </div>
      </div>

    </div>
  </div>

  <!-- Modal only in desktop screen -->
  <div class="nav-bar__modal-profile">
    <div class="nav-bar__modal-profile-user">
      <div class="nav-bar__modal-profile-avatar">
        <img [src]="user.image" [alt]="'Imagen de: ' + user.name" />
      </div>
      <div class="nav-bar__modal-profile-info">
        <h1 class="nav-bar__modal-profile-name">{{ user.name }}</h1>
        <span class="nav-bar__modal-profile-email">{{ user.email }}</span>
      </div>
    </div>

    <div class="nav-bar__modal-profile-item">
      <i class="nav-bar__modal-profile-item-icon" [ngClass]="isMoodDark ? 'icon-sun' : 'icon-moon'"></i>
      <div class="nav-bar__modal-profile-item-value">
        <h5 class="nav-bar__modal-profile-item-title">{{isMoodDark ? 'Modo claro' : 'Modo oscuro' }}</h5>
      </div>
      <div class="toggle-container">
        <label class="switch">
          <input type="checkbox" (change)="toggleMoodDark($event)" [checked]="themeService.isDark" />
          <span class="slider"></span>
        </label>
      </div>
    </div>
    <div class="nav-bar__modal-profile-item" *ngFor="let item of profileItems" [routerLink]="[item.path]">
      <i class="nav-bar__modal-profile-item-icon" [ngClass]="item.icon"></i>
      <div class="nav-bar__modal-profile-item-value">
        <h5 class="nav-bar__modal-profile-item-title">{{ item.title }}</h5>
        <span class="nav-bar__modal-profile-item-subtitle" *ngIf="item.subtitle">
          {{ item.subtitle }}
        </span>
        <span *ngIf="item.pending == true" class="nav-bar__modal-profile-item-pending-number">5</span>
      </div>
      <div class="nav-bar__modal-profile-item-pending-dot" *ngIf="item.pending == true"></div>
    </div>


  </div>



</nav>